.terms {

  .faq::after {
    display: block;
    margin-left: auto;
    color: $blue;
    font-size: 2rem;
    font-weight: bold;
  }
  .faq.collapsed::after {
    content: '\002B';
  }

  .faq:not(.collapsed)::after {
    content: '\2212';
  }

}