.py-3.px-4.d-flex.align-items-center.shadow.rounded-md
  .px-1
    span.h2.mb-0 分類搜尋
  
  .px-1.flex-grow-1
    .tgee-dropdown.js-tgee-dropdown
      .tgee-dropdown-trigger
        span.mr-auto 種類
        i.fas.fa-chevron-down
      .tgee-dropdown-menu
        .tgee-dropdown-menu-body
          for i in Array(10)
            .py-1.w-50.item
              .tgee-checkbox.mr-1
                input(type="checkbox")
                .checkmark
              |互動戲劇
            
  .px-1.flex-grow-1
    .tgee-dropdown.js-tgee-dropdown
      .tgee-dropdown-trigger.d-flex
        span.mr-auto 種類
        i.fas.fa-chevron-down
      .tgee-dropdown-menu
        .tgee-dropdown-menu-body(style="width: calc(100% + 200px);")
          for i in Array(30)
            .py-1.w-25.item
              .tgee-checkbox.mr-1
                input(type="checkbox")
                .checkmark
              |互動戲劇

  .px-1
    button.px-3.btn.btn-orange.rounded-pill 搜尋