.p-2.rounded.w-100.shadow.d-md-flex.align-items-center
  .m-2
    span.h3.mb-0 分類搜尋
  .m-2.flex-grow-1
    .tgee-dropdown.js-tgee-dropdown
      .tgee-dropdown-trigger
        span.mr-auto 遊戲類型
        i.fas.fa-chevron-down
        i.fas.fa-chevron-up
      .tgee-dropdown-menu.pb-0
        .tgee-dropdown-menu-extend
          .d-flex.justify-content-between.flex-wrap
            for i in ['互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇', '互動戲劇']
              .p-1.w-25
                .tgee-checkbox.mr-1
                  input.mr-1(type="checkbox")
                  .checkmark
                |#{i}

  .m-2.flex-grow-1
    .tgee-dropdown.js-tgee-dropdown
      .tgee-dropdown-trigger
        span.mr-auto 平台
        i.fas.fa-chevron-down
        i.fas.fa-chevron-up
      .tgee-dropdown-menu  
        p.tgee-dropdown-item AAAAA
        p.tgee-dropdown-item AAAAA
        p.tgee-dropdown-item AAAAA
        p.tgee-dropdown-item AAAAA
        p.tgee-dropdown-item AAAAA
  .m-2
    button.btn.btn-orange.rounded-pill 搜尋