footer#footer
  .bg-light-blue.text-dark
    .container.px-0.py-md-5
      .d-flex.flex-column.flex-md-row.f-2
        .flex-grow-1
          .item.only-mobile
            a.footer-collapse-trigger.collapsed(data-toggle='collapse' data-target='#footer-collapse-1') 關於我們
          .item.only-desktop
            span 關於我們
          #footer-collapse-1.footer-collapse.collapse(data-parent='#footer')
            a.item(href="#") 計畫團隊
            a.item(href="#") 計畫團隊
        
        .flex-grow-1
          .item.only-mobile
            a.footer-collapse-trigger.collapsed(data-toggle='collapse' data-target='#footer-collapse-2') 條款相關
          .item.only-desktop
            span 條款相關
          #footer-collapse-2.footer-collapse.collapse(data-parent='#footer')
            a.item(href="#") 常見問題
            a.item(href="#") 版權說明
            a.item(href="#") 隱私權政策
        
        .flex-grow-1
          .item.only-mobile
            a.footer-collapse-trigger.collapsed(data-toggle='collapse' data-target='#footer-collapse-3') 相關連結
          .item.only-desktop
            span 相關連結
          #footer-collapse-3.footer-collapse.collapse(data-parent='#footer')
            a.item(href="#") TIGEA
            a.item(href="#") 創夢市集
            a.item(href="#") 好奇心創意
            a.item(href="#") Another indie
        
        .flex-grow-1
          .item.only-mobile
            a.footer-collapse-trigger.collapsed(data-toggle='collapse' data-target='#footer-collapse-4') 與我們聯絡
          .item.only-desktop
            span 與我們聯絡
          #footer-collapse-4.footer-collapse.collapse(data-parent='#footer')
            a.item(href="#") FB粉絲團
            a.item(href="#") Gamesupport01@gmail.com
      
  .bg-dark-blue.text-white
    .container.py-2.d-md-flex.justify-content-between.align-items-center
      p.mb-0 TGEE
      p.mb-0.f-12 創夢市集版權所有 © Copyright 2019, ditlabs Co., Ltd. All rights reserved.

