#modal_game_show.modal(tabindex="-1")
  .modal-dialog.modal-xl
    .modal-content.bg-gray-1
      button.btn-circle.btn-primary.close-btn(data-dismiss='modal' style="width: 50px; height: 50px;")
        span &times;
      img.w-100(src="images/modal_game_show/game.png")
      .p-3
        .d-flex.mb-md-5
          for i in [1,2,3,4,5]
            img.d-block.mr-3(src='images/modal_game_show/game.png', style="width: 100px; height: 70px;")
        .row.mb-md-5
          .col-md-4
            p.text-gray-2 遊戲作品中文名稱
            p.text-white 還願
          .col-md-4
            p.text-gray-2 遊戲作品英文名稱
            p.text-white Devotion
          .col-md-4
            p.text-gray-2 遊戲支援人數
            p.text-white 1人
        .row.mb-md-5
          .col-md-4
            p.text-gray-2 遊戲影片
            p.text-white https:/www.com.tw/
          .col-md-4
            p.text-gray-2 遊戲介紹社群頁面或網站
            p.text-white https:/www.com.tw/
        .row.mb-md-5
          .col-md-4
            p.text-gray-2 遊戲類別
            p.text-white 還願
          .col-md-4
            p.text-gray-2 遊戲語言
            p.text-white 繁中/簡中/英文
          .col-md-4
            p.text-gray-2 遊戲平台
            p.text-white TapTap/方塊遊戲/GOG/Microsoft Store
        .row.mb-md-5
          .col-md-4
            p.text-gray-2 遊戲上架日期
            p.text-white 2019/10/08
          .col-md-4
            p.text-gray-2 遊戲開發時長
            p.text-white 不公開
          .col-md-4
            p.text-gray-2 遊戲製作引擎
            p.text-white 會員限定
        .mb-md-5
          p.text-gray-2 遊戲中文介紹
          p.text-white 2012 年，一群懷抱著遊戲夢的年輕人，在 18 樓合租宿舍結成團隊；三年後，以《麥克尼西亞》斬獲多座大獎的這群夥伴，正式成立光穹遊戲股份有限公司 (18Light Game Ltd.)，並獨立開發《螢幕判官》這款曾獲東南亞國際行動遊戲大賽 (IMGA SEA) 等海內外獎項肯定的劇情遊戲。隨後更與出版社異業合作，推出《螢幕判官》同名小說與設定集，另由發行商發行任天堂 Switch 版本，朝著把臺灣作品推向國際的目標穩步向前。
        .mb-md-5
          p.text-gray-2 遊戲英文介紹
          p.text-white WASHINGTON — White House aides improperly intervened to falsely assert that a manuscript by the former national security adviser John R. Bolton contained classified information in an attempt to prevent its contents from becoming public, a lawyer for the career official overseeing the book’s prepublication review said in a letter filed in court on Wednesday.