nav.fixed-top.f-16
  
  //- 手機版
  .bg-blue.d-md-none
    .p-2
      .position-relative.d-flex.justify-content-between.align-items-center
        .text-white(data-toggle='collapse' data-target='#navbar-mobile-collapse')
          i.fas.fa-bars
        h3.mb-0.text-white TGEE
        span.ml-3.text-white.searchbox
          i.fas.fa-search.js-toggle-searchbox
          input(placeholder="搜尋")

    #navbar-mobile-collapse.collapse
      .d-flex.text-white.bg-blue
        .p-2.flex-fill.text-center.border.border-light-blue.border-left-0.border-right-0(data-toggle='collapse' data-target='#navbar-collapse-my') 登入註冊
        .p-2.flex-fill.text-center.border.border-light-blue.border-right-0 合作聯繫
    
      .list-group.list-group-flush#navbar-collapse-my.collapse(data-parent='#navbar-mobile-collapse')
        a.list-group-item 個人資料
        a.list-group-item 文章管理
        a.list-group-item 專屬服務
        a.list-group-item 登出

      .list-group.list-group-flush(data-parent='#navbar-mobile-collapse')
        a.collapsed.d-flex.list-group-item.collapse-trigger(data-toggle='collapse' data-target='#navbar-collapse-1')
          | 最新消息
          i.fas.fa-chevron-up.ml-auto
        #navbar-collapse-1.collapse(data-parent='#navbar-mobile-collapse')
          a.list-group-item.bg-light-blue 官方消息
          a.list-group-item.bg-light-blue 產業訊息
        a.list-group-item 遊戲新聞
        a.list-group-item 知識文章
        a.collapsed.d-flex.list-group-item.collapse-trigger(data-toggle='collapse' data-target='#navbar-collapse-2')
          | 活動看板
          i.fas.fa-chevron-up.ml-auto
        #navbar-collapse-2.collapse(data-parent='#navbar-mobile-collapse')
          a.list-group-item.bg-light-blue 國際展會
          a.list-group-item.bg-light-blue 活動課程
        a.list-group-item 專屬服務
        a.list-group-item 遊戲一覽
        a.collapsed.d-flex.list-group-item.collapse-trigger(data-toggle='collapse' data-target='#navbar-collapse-3')
          | 相關資源
          i.fas.fa-chevron-up.ml-auto
        #navbar-collapse-3.collapse(data-parent='#navbar-mobile-collapse')
          a.list-group-item.bg-light-blue 競賽獎項
          a.list-group-item.bg-light-blue 政府計畫
          a.list-group-item.bg-light-blue 遊戲社群
          a.list-group-item.bg-light-blue 會計法務
  
  //- 電腦版
  .tgee-navbar.d-none.d-md-flex.px-5
    a.mr-5(href="#") TGEE
    a.mr-4(href="/news") 最新消息
    a.mr-4(href="/gamenews") 遊戲新聞
    a.mr-4(href="/posts") 知識文章
    a.mr-4(href="/campaign") 活動看板
    a.mr-4(href="/service") 專屬服務
    a.mr-4(href="/games") 遊戲一覽
    a.mr-4(href="/resource") 相關資源

    .d-flex.ml-auto.align-items-center.position-relative
      a.btn.btn-sm.btn-outline-gray-4.rounded-pill.ml-3(href="/contact") 合作聯繫
      .ml-3.text-white
        i.fas.fa-user-circle
      .ml-3.text-white.searchbox
        i.fas.fa-search.js-toggle-searchbox
        input(placeholder="搜尋")
