
nav.navbar.navbar-expand-lg.shadow.py-0
  .container
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
      
    .collapse.navbar-collapse#navbarTogglerDemo02
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item.px-4.py-3.border-right.border-muted.bg-primary
          a.nav-link(href="#")
            img(src="../static/logo.png" height="30")
            span.text-white TGEE
        li.nav-item.py-3.border-right.border-muted
          a.nav-link(href="#")
            img(src="../static/icon-3.png" height="30")
            |最新消息
        li.nav-item.py-3.border-right.border-muted
          a.nav-link(href="#")
            img(src="../static/icon-3.png" height="30")
            |最新消息
        li.nav-item.py-3.border-right.border-muted
          a.nav-link(href="#")
            img(src="../static/icon-3.png" height="30")
            |最新消息
        li.nav-item.py-3.border-right.border-muted
          a.nav-link(href="#")
            img(src="../static/icon-3.png" height="30")
            |最新消息
        li.nav-item.py-3.border-right.border-muted
          a.nav-link(href="#")
            img(src="../static/icon-3.png" height="30")
            |最新消息
        li.nav-item.py-3.border-right.border-muted
          a.nav-link(href="#")
            img(src="../static/icon-3.png" height="30")
            |最新消息
      
      ul.navbar-nav.mt-2.mt-lg-0
        li.nav-item.py-3.border-right.border-muted
          a.nav-link(href="#")
            img(src="../static/icon-3.png" height="30")
            |最新消息
        li.nav-item.py-3.border-right.border-muted
          a.nav-link(href="#")
            img(src="../static/icon-3.png" height="30")
            |最新消息
        //- li.nav-item.py-3.border-right.border-muted.px-3
        //-   a.nav-link(href="#")
        //-     img(src="../static/icon-3.png" height="30")