.tgee-dropdown.js-tgee-dropdown
  .tgee-dropdown-trigger
    span.mr-auto 種類
    i.fas.fa-chevron-down
  .tgee-dropdown-menu
    .tgee-dropdown-menu-body
      for i in Array(10)
        p.w-100.py-1.item
          |互動戲劇