.tgee-btn-primary,
.tgee-btn-secondary {
  @extend .py-1;
  @extend .px-2;
  @extend .rounded-pill;

  min-width: 150px;
  text-align: center;
  display: inline-block;
}

.tgee-btn-primary {
  @extend .text-white;
  border-width: 0;
  background-color: $secondary;
  &:hover {
    background-color: #FF8A2E55;
  }
}

.tgee-btn-secondary {
  color: $gray-1;
  border: $gray-1 solid 2px;
  background-color: #fff;
  &:hover {
    color: $primary;
    border-color: $primary;
  }
}

.tgee-btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  background-color: $gray-2;
  outline: none;
  border-width: 0;

  .focus, &:hover {
    background-color: $blue;
  }

  &::after {
    content: '×';
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

.tgee-circle-button {
  position: relative;
  width: 30px;
  height: 30px;
  color: $gray-2;
  background: white;
  border-radius: 50%;
  border: 2px solid $gray-2;

  > * {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}