$height: 40px;

.tgee-dropdown {
  position: relative;
  z-index: 10;
  background-color: $gray-4;
  height: 40px;
  min-width: 200px;
  border-radius: 20px;
  
  &-trigger {
    @extend .noselect;
    display: flex;
    align-items: center;
    position: relative;
    padding: $spacer/2 $spacer;
    z-index: 10;
    cursor: pointer;
    > span {
      white-space: nowrap;
    }
  }

  &-menu {
    @extend .shadow;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: $gray-4;
  }

  &-item {
    padding: 7.5px 15px;
    color: $gray-2;
    cursor: pointer;
    margin-bottom: 0;
    &:hover {
      color: white;
      background-color: $orange;
    }
  }

  &:not(.active) &-menu {
    display: none;
  }

  &-trigger i.fas.fa-chevron-down {
    transition: all 0.1s;
  }

  &.active &-trigger i.fas.fa-chevron-down {
    transform: rotate(180deg);
  }

  &:not(.active)::after {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: $gray-4;
    top: 40px;
    left: 0px;
    width: 100%;
  }

  .tgee-dropdown-menu-extend {
    background-color: $gray-4;
    @extend .shadow;
    border-radius: 20px;
    padding-bottom: 20px;
    padding: 15px;
    font-size: 14px;
  }

  @include media-breakpoint-up(md) {
    .tgee-dropdown-menu-extend {
      min-width: 600px;
    }
  }

  @include media-breakpoint-down(md) {
    &.active {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1081;
      border-radius: 0;
    }
    &::after {
      display: none;
    }
    &.active &-trigger {
      border-bottom: 1px solid #cccccc;
    }
    &-menu {
      height: 100vh;
      width: 100vw;
      padding-top: 40px;
      background-color: #ffffff;
      border-radius: 0px;
    }
    &-item {
      border-bottom: 1px solid #cccccc;
    }
  }
}