.tgee-input-box {
  @extend .rounded;
  background-color: #fff;
  border: $gray-3 solid 1px;
  > * {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0 !important;
  }
}

.tgee-input {
  background-color: #fff;
}

.tgee-checkbox {
  width: 15px;
  height: 15px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #292929;

  input {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
  }
  
  input:checked ~ .checkmark::after {
    content: '';
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary;
    border-radius: 50%;
  }
}