{% extends "./layout/base.html" %}

<div class="container p-2 px-md-0 py-md-5">
  <h1 class="mt-3 mb-1">活動課程</h1>
  <div class="my-2">

{% block content %}
<div class="container p-2 px-md-0 py-md-5">
  <h1 class="mt-3 mb-1">遊戲一覽</h1>
  {% include './partials/filter.html' %}
  <div class="row my-2">
    {% for img, title, content, tags in games %}
    <div class="col-md-4 mt-2">
      <a href="/teams/1/show">
        <div class="tgee-card">
          <div class="tgee-card-img" style="background-image: url({{ static(img) }}); height: 190px;"></div>
          <div class="tgee-card-body">
            <h3>{{title}}</h3>
            <p>{{content}}</p>
            <div class="d-flex align-items-center">
              {% for t in tags %}
              <small class="mr-1 badge badge-pill badge-gray-4">#{{t}}</small>
              {% endfor %}
              <div class="tgee-circle-button"><i class="fas fa-chevron-right"></i></div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="py-3 py-md-4 text-center">
    <button class="tgee-btn-secondary">展開看更多</button>
  </div>
</div>
{% endblock %}