extends ./layout/layout.pug

block content
  .container.py-5
    .d-flex
      h2.mr-auto 文章管理
      button.btn.btn-orange 新增文章
    
    .my-4
      .nav.tgee-block-tabs.justify-content-center.shadow.f-16
        .shadow.text-center.flex-fill.item.p-1(data-toggle="tab" href="#nav-a") 官方消息
        .shadow.text-center.flex-fill.item.p-1(data-toggle="tab" href="#nav-b") 官方消息
        .shadow.text-center.flex-fill.item.p-1(data-toggle="tab" href="#nav-c") 產業訊息
    
    for i in [1,2,3,4,5,6,7,8,9,10]
      .mb-2
        .tgee-card.flex-md-row.article-card
          .tgee-card-img.bg-gray-3
          .tgee-card-body
            small.text-gray-2 遊戲新聞
            h2 文章標題文章標題文章標題文，章標題文章標題文章標題文...
            p 隔著螢幕，誰是判官？以媒體識讀與輿論殺人等社會議題為主軸、上市以來廣受好評的臺灣原創遊戲《螢幕判官》隔著螢幕，誰是判官？以媒體識讀與輿論殺...
            .d-flex
              small.mr-auto 1 小時前更新
              small 編輯文章
              small 刪除文章