extends ./layout/layout.pug

block content
  .container.py-5
    .d-flex.align-items-center
      h1.mr-auto 文章管理
      div
        button.btn.btn-orange 新增文章
    
    .my-3
      .nav.tgee-block-tabs.justify-content-center.shadow.f-16
        .shadow.text-center.flex-fill.item.p-2(data-toggle="tab" href="#nav-a") 官方消息
        .shadow.text-center.flex-fill.item.p-2(data-toggle="tab" href="#nav-b") 官方消息
        .shadow.text-center.flex-fill.item.p-2(data-toggle="tab" href="#nav-c") 產業訊息
    
    .my-3.d-flex.align-items-center
      .mr-2
        .tgee-dropdown.js-tgee-dropdown
          .tgee-dropdown-trigger
            span.mr-auto 已發布
            i.fas.fa-chevron-down
            i.fas.fa-chevron-up
          .tgee-dropdown-menu  
            p.tgee-dropdown-item AAAAA
            p.tgee-dropdown-item AAAAA
            p.tgee-dropdown-item AAAAA
            p.tgee-dropdown-item AAAAA
            p.tgee-dropdown-item AAAAA
      
      div
        input.form-control.bg-fray-3
    
    for i in [1,2,3,4,5,6,7,8,9,10]
      .mb-2
        .tgee-card.flex-md-row.article-card
          .tgee-card-img.bg-gray-4
          .tgee-card-body
            small.text-gray-2 遊戲新聞
            h2 文章標題文章標題文章標題文，章標題文標題文...
            p.pr-3 隔著螢幕，誰是判官？以媒體識讀與輿論殺人等社會議題為主軸、上市以來廣受好評的臺灣原創遊戲《螢幕判官》隔著螢幕，誰是判官？以媒體識讀與輿論殺...
            .d-flex.small
              span.mr-auto 1 小時前更新
              span
                i.fas.fa-pen.text-gray-2.mr-1
                |編輯文章
              .mx-2.border
              small
                i.fas.fa-trash-alt.text-gray-2.mr-1
                |刪除文章
    
    .py-3
      include ./partials/pagination.pug