extends ./layout/layout.pug

block content

  .container.py-5
    h1.my-3 活動課程
    include ./partials/filter.pug
    .row.mt-3
      for g in [1,2,3,4,5,6,7,8,9,10]
        .col-md-6
          .tgee-card-h.d-md-flex.mb-2
            .tgee-card-img(style="background-image: url('images/官方消息/news-bnr-310x168@2x.jpg');")
            .tgee-card-body
              p.f-18
                |創作者的生存遊戲 #1
                br
                |畢業後，如何集體創作並且活下去
              .tgee-card-footer
                small.f-14 1 小時前更新 
                .tgee-circle-button.f-12
                  i.fas.fa-chevron-right
    
    .py-2.text-center
      button.px-3.btn.btn-outline-dark.rounded-pill 展開看更多
