<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="index.css")
  body.py-4

    .container
      .row.my-4
        for val in [1, 2]
          .col-md-6.tgee-card-h
            .tgee-card.d-flex.rounded.shadow.overflow-hidden
              .tgee-card-img(style="background-image: url('images/home-news-310x168@2x.jpg');")
              .tgee-card-body.p-3
                p
                  |創作者的生存遊戲 #1
                  |畢業後，如何集體創作並且活下去
                .tgee-card-footer
                  span.badge.badge-pill.badge-light 1小時前更新
                  
      
      .row.my-4
        for val in [1, 2]
          .col-md-6.tgee-card-h
            .tgee-card.d-flex.rounded.shadow.overflow-hidden
              .tgee-card-img(style="background-image: url('images/home-news-310x168@2x.jpg');")
              .tgee-card-body
                p.p-3
                  |遊戲創業及啟動基金
                  br
                  |地區：全國性
                  br
                  |時間：08/21/2020
                .p-3.tgee-card-footer
                  span.badge.badge-pill.badge-light 1小時前更新

      .row.my-4
        for val in [1, 2, 3]
          .col-4
            .card
              img.card-img-top(src="images/home-news-310x168@2x.jpg")
              .card-body
                h5.h2.card-title 赤燭遊戲
                p.card-text
                  |隔著螢幕，誰是判官？以媒體識讀與輿
                  |論殺人等社會議題為主軸、上市以來廣
                  |受好評的臺灣原創遊戲《螢幕判官》.
              .card-footer
                span.badge.badge-pill.badge-light #恐怖
                span.badge.badge-pill.badge-light #Block Making RPG