extends ./layout/layout.pug

block content
  .container.py-5
    h1.my-3 活動課程
    include ./partials/filter.pug
    .row
      for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        .col-md-6.mt-2
          .tgee-card.flex-md-row
            .tgee-card-img(style="background-image: url('images/首頁/news_bg_2.png');")
            .tgee-card-body(style="min-width: 200px;")
              strong 台北國際電玩展
              p
                |地區：台灣
                br
                |時間：08/21/2020
              .tgee-card-footer
                small.mr-1.badge.badge-pill.badge-gray-4 #玩家展覽
                .tgee-circle-button
                  i.fas.fa-chevron-right    
    .py-4.text-center
      button.px-3.btn.btn-outline-dark.rounded-pill 展開看更多
