extends ./layout/layout.pug

block content
  #faq.container.px-0.py-md-5
    .d-flex.align-items-center.flex-column.flex-md-row
      h1.p-3.p-md-0.mr-auto 常見問題
      img(src="images/faq/question-img.svg" style="max-width: 100%;")
    .rounded.shadow.bg-white
      each qa, index in faq
        h3.faq-q.collapsed(data-toggle="collapse" data-target=`#qa_${index}`)=qa.q
        .faq-a.collapse(id=`qa_${index}`)
          p=qa.a
      
    .py-5.text-center
      p 還有其他問題嗎？ 請來信詢問
      a(href="#")
        i.far.fa-envelope
        |&nbsp;Gamesupport01@gmail.com