extends ./layout/layout.pug

block content
  .container.py-5
    h1.my-3 遊戲一覽
    include ./partials/filter
    .row.mt-3
      for g in games
        .col-md-4.mt-2
          .tgee-card
            .tgee-card-img(style=`background-image: url('images/遊戲一覽/${g.img}'); height: 190px;`)
            .tgee-card-body
              h3 #{g.title}
              p #{g.content}
              .d-flex.align-items-center
                small.mr-1.badge.badge-pill.badge-gray-4 #玩家展覽
                small.mr-1.badge.badge-pill.badge-gray-4 #玩家展覽
                .tgee-circle-button
                  i.fas.fa-chevron-right
    .py-4.text-center
      button.px-3.btn.btn-outline-dark.rounded-pill 展開看更多
