extends ./layout/layout.pug

block content
  .container.py-5

    h3 團隊介紹
    .my-2
       textarea.form-control(placeholder="這裡要輸入些文字..." value="2019 最佳創新獎 - 數位內容產品獎 ")
    
    h3 獲獎紀錄
    .my-2.position-relative
      input.form-control(placeholder="這裡要輸入些文字..." value="2019 最佳創新獎 - 數位內容產品獎 ")
      button.btn-circle.btn-primary.close-btn.btn-sm
        span &times;
    .my-2.position-relative
      input.form-control(placeholder="這裡要輸入些文字..." value="2019 最佳創新獎 - 數位內容產品獎 ")
      button.btn-circle.btn-primary.close-btn.btn-sm
        span &times;
    .my-2.position-relative
      input.form-control(placeholder="這裡要輸入些文字..." value="2019 最佳創新獎 - 數位內容產品獎 ")
      button.btn-circle.btn-primary.close-btn.btn-sm
        span &times;

    
    h3 相關報導
    .my-2.position-relative
      input.border-bottom-0.rounded-0.rounded-top.form-control(placeholder="這裡要輸入些文字..." value="2019 最佳創新獎 - 數位內容產品獎 ")
      input.rounded-0.rounded-bottom.form-control(placeholder="這裡要輸入些文字..." value="2019 最佳創新獎 - 數位內容產品獎 ")
      button.btn-circle.btn-primary.close-btn.btn-sm
        span &times;
    .my-2
      input.border-bottom-0.rounded-0.rounded-top.form-control(placeholder="這裡要輸入些文字..." value="2019 最佳創新獎 - 數位內容產品獎 ")
      input.rounded-0.rounded-bottom.form-control(placeholder="這裡要輸入些文字..." value="2019 最佳創新獎 - 數位內容產品獎 ")
    
    .tgee-circle-button.f-12
      i.fas.fa-chevron-right
    
    .text-center
      button.btn.btn-circle.btn-primary.btn-lg
        span &plus;
      button.btn.btn-circle.btn-primary
        span &plus;
      button.btn.btn-circle.btn-primary.btn-sm
        span &plus;