extends ./layout/layout.pug

block content
  .banner.tab-content
    img#pill-a.fade.tab-pane.w-100.show.active(src="images/首頁/home-slide-1440x475.jpg")
    img#pill-b.fade.tab-pane.w-100(src="images/首頁/home-slide-1440x475.jpg", role="tabpanel", aria-labelledby="pills-home-tab")
    img#pill-c.fade.tab-pane.w-100(src="images/首頁/home-slide-1440x475.jpg", role="tabpanel", aria-labelledby="pills-home-tab")
    img#pill-d.fade.tab-pane.w-100(src="images/首頁/home-slide-1440x475.jpg", role="tabpanel", aria-labelledby="pills-home-tab")
    img#pill-e.fade.tab-pane.w-100(src="images/首頁/home-slide-1440x475.jpg", role="tabpanel", aria-labelledby="pills-home-tab")
  
  .nav.nav-tabs.shadow.d-flex.justify-content-center.flex-nowrap(role="tablist")
    .shadow-sm.d-flex.align-items-center.justify-content-center.p-2.flex-grow-1(data-toggle="tab", href="#pill-a", role="tab", aria-controls="a")
      .flex-shrink-0.bg-cover.rounded-circle.border-rounded(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); width: 50px; height: 50px;")
      .f-14.ml-2 標題文字標題文字，標題文字最多 18 字
    .shadow-sm.d-flex.align-items-center.justify-content-center.p-2.flex-grow-1(data-toggle="tab", href="#pill-b", role="tab", aria-controls="b")
      .flex-shrink-0.bg-cover.rounded-circle.border-rounded(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); width: 50px; height: 50px;")
      .f-14.ml-2 標題文字標題文字，標題文字最多 18 字
    .shadow-sm.d-flex.align-items-center.justify-content-center.p-2.flex-grow-1(data-toggle="tab", href="#pill-c", role="tab", aria-controls="c")
      .flex-shrink-0.bg-cover.rounded-circle.border-rounded(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); width: 50px; height: 50px;")
      .f-14.ml-2 標題文字標題文字，標題文字最多 18 字
    .shadow-sm.d-flex.align-items-center.justify-content-center.p-2.flex-grow-1(data-toggle="tab", href="#pill-d", role="tab", aria-controls="d")
      .flex-shrink-0.bg-cover.rounded-circle.border-rounded(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); width: 50px; height: 50px;")
      .f-14.ml-2 標題文字標題文字，標題文字最多 18 字
    .shadow-sm.d-flex.align-items-center.justify-content-center.p-2.flex-grow-1(data-toggle="tab", href="#pill-e", role="tab", aria-controls="e")
      .flex-shrink-0.bg-cover.rounded-circle.border-rounded(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); width: 50px; height: 50px;")
      .f-14.ml-2 標題文字標題文字，標題文字最多 18 字
  
  .container.py-5
    .py-5
      h2.h1.mb-2 精選項目
      h3.mb-3 獨立遊戲開發第一站 —— 0到100的完整資源
      .row.mb-2
        .col-md-4
          .tgee-card.bg-gray-2.bg-cover(style="background-image: url('images/首頁/prod_1.jpg'); height: 250px;")
            .fancy-bg-gradient.p-2.h-100
              small.d-inline-block.p-1.rounded-pill.text-white.bg-gray-1 遊戲新聞
              p.text-white.position-absolute(style="bottom: 0;") 是真的！微軟閃電發表 XboxSeries S，價格一起曝光
        .col-md-4
          .tgee-card.bg-gray-2.bg-cover(style="background-image: url('images/首頁/prod_2.jpg'); height: 250px;")
            .fancy-bg-gradient.p-2.h-100
              small.d-inline-block.p-1.rounded-pill.text-white.bg-gray-1 知識文章
              p.text-white.position-absolute(style="bottom: 0;") 第11代Intel Core處理器正式登場，Iris Xe內顯順暢運行AAA遊戲
        .col-md-4
          .tgee-card.bg-gray-2.bg-cover(style="background-image: url('images/首頁/prod_3.jpg'); height: 250px;")
            .fancy-bg-gradient.p-2.h-100
              small.d-inline-block.p-1.rounded-pill.text-white.bg-gray-1 活動看板
              p.text-white.position-absolute(style="bottom: 0;") Faust Game Jam 2020 台中會場

      .row
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 100px;")
            .h-100.d-flex.justify-content-center.align-items-center
              p.h3.mb-0 競賽獎項
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 100px;")
            .h-100.d-flex.justify-content-center.align-items-center
              p.h3.mb-0 政府計劃
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 100px;")
            .h-100.d-flex.justify-content-center.align-items-center
              p.h3.mb-0 遊戲社群
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 100px;")
            .h-100.d-flex.justify-content-center.align-items-center
              p.h3.mb-0 會計法務
      
      .py-3.d-flex.justify-content-end.align-items-center
        span.mr-3 瀏覽眾多資源、重點文章
        button.btn.rounded-pill.btn-orange.btn-sm 加入會員
    
    .py-5
      h2.h1.mb-2 台灣原創獨立遊戲團隊專屬服務
      p.mb-3 說明文字說明文字說明文字，字說明文字。
      .row
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .tgee-card-body
              img(src="images/首頁/temp_svg_icon.png", style="width: 2rem;")
              p.h2 競賽獎項
            .tgee-card-footer
              small.f-14 1 小時前更新 
              .tgee-circle-button.f-12
                i.fas.fa-chevron-right
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .tgee-card-body
              img(src="images/首頁/temp_svg_icon.png", style="width: 2rem;")
              p.h2 競賽獎項
            .tgee-card-footer
              small.f-14 1 小時前更新 
              .tgee-circle-button.f-12
                i.fas.fa-chevron-right
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .tgee-card-body
              img(src="images/首頁/temp_svg_icon.png", style="width: 2rem;")
              p.h2 競賽獎項
            .tgee-card-footer
              small.f-14 1 小時前更新 
              .tgee-circle-button.f-12
                i.fas.fa-chevron-right
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .tgee-card-body
              img(src="images/首頁/temp_svg_icon.png", style="width: 2rem;")
              p.h2 競賽獎項
            .tgee-card-footer
                small.f-14 1 小時前更新 
                .tgee-circle-button.f-12
                  i.fas.fa-chevron-right
    
    .py-5
      .d-flex.my-2
        h2.mr-auto 最新消息
        .d-flex.justify-content-between
          button.px-2.mr-4.btn.btn-sm.btn-outline-dark.rounded-pill 官方訊息
          button.px-2.mr-4.btn.btn-sm.btn-outline-dark.rounded-pill 產業訊息
          button.px-2.mr-4.btn.btn-sm.btn-outline-dark.rounded-pill 遊戲新聞
          button.px-2.mr-0.btn.btn-sm.btn-outline-dark.rounded-pill 活動看板

      .row
        .col-md-6
          .tgee-card.tgee-card-v
            .tgee-card-img(style="background-image: url('images/首頁/news_bg_1.png');")
            .tgee-card-body(style="height: 141px;")
              p 2020 數位遊戲商務課程 - 跨界 IP 規劃與經營實務分享
              .tgee-card-footer
                .tgee-card-footer
                  small.f-14 1 小時前更新 
                  .tgee-circle-button.f-12
                    i.fas.fa-chevron-right
        
        .col-md-6
          .tgee-card.tgee-card-h.d-flex.mb-2
            .tgee-card-img(style="background-image: url('images/首頁/news_bg_2.png');")
            .tgee-card-body
              p
                |創作者的生存遊戲 #1
                br
                |畢業後，如何集體創作並且活下去
              .tgee-card-footer
                small.f-14 1 小時前更新 
                .tgee-circle-button.f-12
                  i.fas.fa-chevron-right
          .tgee-card.tgee-card-h.d-flex
            .tgee-card-img(style="background-image: url('images/首頁/news_bg_3.png');")
            .tgee-card-body
              p
                |創作者的生存遊戲 #1
                br
                |畢業後，如何集體創作並且活下去
              .tgee-card-footer
                small.f-14 1 小時前更新 
                .tgee-circle-button.f-12
                  i.fas.fa-chevron-right

  .container
    
    .py-5
      h2.h1.mb-3 各界推薦
      .shadow.js-slick
        div
          .d-flex
            img.mr-auto(src="images/首頁/recommend.png")
            .p-3
              h2 鄭祤呈
              p 好奇心創意 營運長
              p
                |這裡真的很棒！你真的要加入看看！真心推薦想要創作遊戲的朋友
                |一定要加入這個平台，在這裡你可以完成你的夢想。讓你的遊戲創
                |作旅程從這開始吧。
        div
          .d-flex
            img.mr-auto(src="images/首頁/recommend.png")
            .p-3
              h2 鄭祤呈
              p 好奇心創意 營運長
              p
                |這裡真的很棒！你真的要加入看看！真心推薦想要創作遊戲的朋友
                |一定要加入這個平台，在這裡你可以完成你的夢想。讓你的遊戲創
                |作旅程從這開始吧。
        div
          .d-flex
            img.mr-auto(src="images/首頁/recommend.png")
            .p-3
              h2 鄭祤呈
              p 好奇心創意 營運長
              p
                |這裡真的很棒！你真的要加入看看！真心推薦想要創作遊戲的朋友
                |一定要加入這個平台，在這裡你可以完成你的夢想。讓你的遊戲創
                |作旅程從這開始吧。
        
      .d-flex.justify-content-center.align-items-center.mb-4
        .d-inline-block.next-arrow
          .tgee-circle-button.border-0.shadow
            i.fas.fa-chevron-left
        .dots.d-inline-block.position-relative
        .d-inline-block.prev-arrow
          .tgee-circle-button.border-0.shadow
            i.fas.fa-chevron-right
    

    .py-5
      h2.h1.mb-3 目前累積
      .row
        .col-md-4
          .tgee-card.p-4.text-center.text-white.bg-cover(style="background-image: url('images/首頁/home-card-blue.png');")
            small 成員人數
            p
              span.display-4 150
              span +
        .col-md-4
          .tgee-card.p-4.text-center.text-white.bg-cover(style="background-image: url('images/首頁/home-card-blue.png');")
            small 遊戲團隊
            p
              span.display-4 150
              span +
        .col-md-4
          .tgee-card.p-4.text-center.text-white.bg-cover(style="background-image: url('images/首頁/home-card-blue.png');")
            small 遊戲數量
            p
              span.display-4 150
              span +
