extends ./partials/layout.pug

block content
  .container
    .banner(style="background-image: url('../static/banner@3x.png')")
    
  .container
    .text-center.py-md-5.py-3
      .small.d-block.text-secondary TGEE
      h2.text-center 精選項目
      .mx-auto.bg-secondary(style="width: 50px; height: 2px;")
    .row.justify-content-md-center.slider
      i.fas.fa-chevron-left.bg-primary.text-white
      .col-md-4
        .rounded.overflow-hidden.shadow.bg-cover.feature-item(style="background-image: url('../static/banner@3x.png')")
          p.small.p-2.mb-0.text-white 上市三天《最後生還者 二部曲》全球賣破400萬套，劇情改寫連署持續ing
            i.fas.fa-chevron-right
      .col-md-4
        .rounded.overflow-hidden.shadow.bg-cover.feature-item(style="background-image: url('../static/banner@3x.png')")
          p.small.p-2.mb-0.text-white 上市三天《最後生還者 二部曲》全球賣破400萬套，劇情改寫連署持續ing
            i.fas.fa-chevron-right
      .col-md-4
        .rounded.overflow-hidden.shadow.bg-cover.feature-item(style="background-image: url('../static/banner@3x.png')")
          p.small.p-2.mb-0.text-white 上市三天《最後生還者 二部曲》全球賣破400萬套，劇情改寫連署持續ing
            i.fas.fa-chevron-right
      i.fas.fa-chevron-right.bg-primary.text-white

  .container
    .text-center.py-md-5.py-3
      .small.d-block.text-secondary TGEE
      h2.text-center 精選項目
      .mx-auto.bg-secondary(style="width: 50px; height: 2px;")
    
    .d-flex.justify-content-center.mb-md-5.mb-4
      .mx-2.btn.border-primary.text-muted 官方消息
      .mx-2.btn.border-primary.text-muted 官方消息
      .mx-2.btn.border-primary.text-primary 官方消息
      .mx-2.btn.border-primary.text-muted 官方消息
    
    .row
      .col-md-7
        .rounded.overflow-hidden.main-new.shadow.bg-cover.feature-item(style="background-image: url('../static/banner@3x.png')")
          p.px-4.py-3.mb-0.text-white 北半球游泳啦！《動物森友會》7月3日更新潛水、海中採集、新DIY，8月還有煙火大會
            i.fas.fa-chevron-right
      .col-md-5
        .second-new.rounded.overflow-hidden.shadow
          .row.no-gutters
            .col-6.bg-cover(style="background-image: url('../static/banner@3x.png')")
            .col-6.p-4
              p 時間更新！PS4控制器悠遊卡拼趕工，最晚2021年6月起取貨
              small 2020-11-12
              i.fas.fa-chevron-right.bg-primary.text-white
        .second-new.rounded.overflow-hidden.shadow(style="margin-top: 30px;")
          .row.no-gutters
            .col-6.bg-cover(style="background-image: url('../static/banner@3x.png')")
            .col-6.p-4
              p 時間更新！PS4控制器悠遊卡拼趕工，最晚2021年6月起取貨
              small 2020-11-12
              i.fas.fa-chevron-right.bg-primary.text-white
  
  .container
    .text-center.py-md-5.py-3
      .small.d-block.text-secondary TGEE
      h2.text-center 相關資源
      .mx-auto.bg-secondary(style="width: 50px; height: 2px;")
    
    .row
      .col-md-3.px-4
        .resource-item.d-flex.p-3
          img(src="../static/news-icon-1@3x.png" width="70" height="70")
          .h5.pl-3(style="line-height: 30px")
            span.text-primary NEWS
            br
            span 遊戲新聞
            i.fas.fa-chevron-right.bg-primary.text-white
      .col-md-3.px-4
        .resource-item.d-flex.p-3
          img(src="../static/news-icon-2@3x.png" width="70" height="70")
          .h5.pl-3(style="line-height: 30px")
            span.text-primary NEWS
            br
            span 遊戲新聞
            i.fas.fa-chevron-right.bg-primary.text-white
      .col-md-3.px-4
        .resource-item.d-flex.p-3
          img(src="../static/news-icon-3@3x.png" width="70" height="70")
          .h5.pl-3(style="line-height: 30px")
            span.text-primary NEWS
            br
            span 遊戲新聞
            i.fas.fa-chevron-right.bg-primary.text-white
      .col-md-3.px-4
        .resource-item.d-flex.p-3
          img(src="../static/news-icon-4@3x.png" width="70" height="70")
          .h5.pl-3(style="line-height: 30px")
            span.text-primary NEWS
            br
            span 遊戲新聞
            i.fas.fa-chevron-right.bg-primary.text-white
  
  .container
    .text-center.py-md-5.py-3
      .small.d-block.text-secondary TGEE
      h2.text-center 精選項目
      .mx-auto.bg-secondary(style="width: 50px; height: 2px;")
  
    .d-flex
      .flex-fill.text-center
        img(src="../static/ribbon@3x.png" width="100%")
        p.display-3 123
      .text-center.text-secondary(style="width: 100px")
        i.fas.fa-times
      .flex-fill.text-center
        img(src="../static/ribbon@3x.png" width="100%")
        p.display-3 123
      .text-center.text-secondary(style="width: 100px")
        i.fas.fa-times
      .flex-fill.text-center
        img(src="../static/ribbon@3x.png" width="100%")
        p.display-3 123
  
  .container.pb-5
    .text-center.py-md-5.py-3
      .small.d-block.text-secondary TGEE
      h2.text-center 各界推薦
      .mx-auto.bg-secondary(style="width: 50px; height: 2px;")
    
    .pb-md-5
      .slider
        i.fas.fa-chevron-left.bg-primary.text-white
        i.fas.fa-chevron-right.bg-primary.text-white
        
        .member.mx-auto(style="max-width: 700px;")
          .d-inline-block.fancy-shadow.member-avator.shadow-primary(style="background-image: url('../static/banner@3x.png')")
          .d-inline-block.member-info.pl-5
            .mb-3.bg-secondary(style="width: 50px; height: 5px;")
            h3.mb-2.h4 鄭祤呈
            h4.mb-3.h5 好奇心創意 營運長
            p
              |這裡真的很棒！你真的要加入看看！真心推薦想要創作遊戲的朋友
              |一定要加入這個平台，在這裡你可以完成你的夢想。讓你的遊戲創
              |作旅程從這開始吧。
        
