extends ./layout/layout.pug

block content

  .home-banner
    .tab-content
      #pill-a.fade.tab-pane.w-100.show.active(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); height: 475px;")
      #pill-b.fade.tab-pane.w-100.show(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); height: 475px;")
      #pill-c.fade.tab-pane.w-100.show(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); height: 475px;")
      #pill-d.fade.tab-pane.w-100.show(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); height: 475px;")
      #pill-e.fade.tab-pane.w-100.show(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); height: 475px;")
    .nav.nav-tabs.shadow.d-flex.justify-content-center.flex-nowrap(role="tablist")
      .nav-item.shadow-sm.d-flex.align-items-center.justify-content-center.p-md-2.p-1.flex-grow-1.active(data-toggle="tab", href="#pill-a", role="tab", aria-controls="a")
        .img(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); ")
        .description.f-14.ml-2 標題文字標題文字，標題文字最多 18 字
      .nav-item.shadow-sm.d-flex.align-items-center.justify-content-center.p-md-2.p-1.flex-grow-1(data-toggle="tab", href="#pill-b", role="tab", aria-controls="b")
        .img(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); ")
        .description.f-14.ml-2 標題文字標題文字，標題文字最多 18 字
      .nav-item.shadow-sm.d-flex.align-items-center.justify-content-center.p-md-2.p-1.flex-grow-1(data-toggle="tab", href="#pill-c", role="tab", aria-controls="c")
        .img(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); ")
        .description.f-14.ml-2 標題文字標題文字，標題文字最多 18 字
      .nav-item.shadow-sm.d-flex.align-items-center.justify-content-center.p-md-2.p-1.flex-grow-1(data-toggle="tab", href="#pill-d", role="tab", aria-controls="d")
        .img(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); ")
        .description.f-14.ml-2 標題文字標題文字，標題文字最多 18 字
      .nav-item.shadow-sm.d-flex.align-items-center.justify-content-center.p-md-2.p-1.flex-grow-1(data-toggle="tab", href="#pill-e", role="tab", aria-controls="e")
        .img(style="background-image: url('images/首頁/home-slide-1440x475.jpg'); ")
        .description.f-14.ml-2 標題文字標題文字，標題文字最多 18 字
  
  .container
    .py-5
      h2.h1 精選項目
      h3.mb-3 獨立遊戲開發第一站 —— 0到100的完整資源
      .row
        .col-md-4.mb-2
          .tgee-card.bg-cover(style="background-image: url('images/首頁/prod_1.jpg'); height: 250px;")
            .p-2.fancy-bg-gradient.h-100.d-flex.justify-content-between.flex-column
              div
                span.badge.badge-pill.badge-gray-1 遊戲新聞
              h3.mb-0.text-white 是真的！微軟閃電發表 XboxSeries S，價格一起曝光
        .col-md-4.mb-2
          .tgee-card.bg-cover(style="background-image: url('images/首頁/prod_2.jpg'); height: 250px;")
            .p-2.fancy-bg-gradient.h-100.d-flex.justify-content-between.flex-column
              div
                span.badge.badge-pill.badge-gray-1 知識文章
              h3.mb-0.text-white 第11代Intel Core處理器正式登場，Iris Xe內顯順暢運行AAA遊戲
        .col-md-4.mb-2
          .tgee-card.bg-cover(style="background-image: url('images/首頁/prod_3.jpg'); height: 250px;")
            .p-2.fancy-bg-gradient.h-100.d-flex.justify-content-between.flex-column
              div
                span.badge.badge-pill.badge-gray-1 活動看板
              h3.mb-0.text-white Faust Game Jam 2020 台中會場

      .row
        .col-md-3.col-6.mb-2
          .tgee-card.d-flex.justify-content-center.align-items-center.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 100px; background-position: bottom;")
            span.h3.mb-0 競賽獎項
        .col-md-3.col-6.mb-2
          .tgee-card.d-flex.justify-content-center.align-items-center.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 100px; background-position: bottom;")
            span.h3.mb-0 政府計劃
        .col-md-3.col-6.mb-2
          .tgee-card.d-flex.justify-content-center.align-items-center.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 100px; background-position: bottom;")
            span.h3.mb-0 遊戲社群
        .col-md-3.col-6.mb-2
          .tgee-card.d-flex.justify-content-center.align-items-center.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 100px; background-position: bottom;")
            span.h3.mb-0 會計法務
      
      .mt-3.d-flex.flex-column.flex-md-row.justify-content-center.justify-content-md-end.align-items-center
        p.mb-2.mr-md-3 瀏覽眾多資源、重點文章
        button.mb-2.tgee-btn 加入會員
  
  .container.mobile-scroll-x-container
    .py-5
      h2.h1 台灣原創獨立遊戲團隊專屬服務
      p.mb-3 說明文字說明文字說明文字，字說明文字。
      .mobile-scroll-x.d-md-flex(style="margin: 0 -7.5px;")
        .d-inline-block.flex-fill.mx-1
          .tgee-card.d-flex.flex-column.justify-content-between.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .p-2
              img(src="images/public-icon/icon_1.svg", style="width: 30px;")
              p.h2.mt-2 競賽獎項
            .p-2.d-flex
              .ml-auto.tgee-circle-button
                i.fas.fa-chevron-right
        .d-inline-block.flex-fill.mx-1
          .tgee-card.d-flex.flex-column.justify-content-between.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .p-2
              img(src="images/public-icon/icon_1.svg", style="width: 30px;")
              p.h2.mt-2 發行代理
            .p-2.d-flex
              .ml-auto.tgee-circle-button
                i.fas.fa-chevron-right
        .d-inline-block.flex-fill.mx-1
          .tgee-card.d-flex.flex-column.justify-content-between.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .p-2
              img(src="images/public-icon/icon_1.svg", style="width: 30px;")
              p.h2.mt-2 秘技精華
            .p-2.d-flex
              .ml-auto.tgee-circle-button
                i.fas.fa-chevron-right
        .d-inline-block.flex-fill.mx-1
          .tgee-card.d-flex.flex-column.justify-content-between.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .p-2
              img(src="images/public-icon/icon_1.svg", style="width: 30px;")
              p.h2.mt-2  綜合補給
            .p-2.d-flex
              .ml-auto.tgee-circle-button
                i.fas.fa-chevron-right
      .mt-3.d-flex.justify-content-center.justify-content-md-end
        button.btn.rounded-pill.btn-orange 立即申請專屬服務
  
  .container
    .py-5
      .d-flex.flex-column.flex-md-row
        h1.mr-auto 最新消息
        .mobile-scroll-x
          button.tgee-btn-outline.btn-sm.mr-4 官方訊息
          button.tgee-btn-outline.btn-sm.mr-4 產業訊息
          button.tgee-btn-outline.btn-sm.mr-4 遊戲新聞
          button.tgee-btn-outline.btn-sm.mr-0 活動看板
      
      .mobile-scroll-x.d-flex(style="margin: 0 -7.5px;")
        .m-1.flex-grow-1.align-self-stretch(style="max-width: 50%; min-width: 267px;")
          .tgee-card.primary-card
            .tgee-card-img(style="background-image: url('images/首頁/news_bg_1.png');")
            .tgee-card-body
              p.h2
                |2020 數位遊戲商務課程 - 跨界 IP 規劃與經營實務分享
              .d-flex
                div
                  small.f-14 1 小時前更新 
                .tgee-circle-button.f-12
                  i.fas.fa-chevron-right
        .flex-grow-1.d-flex.flex-row.flex-md-column
          .m-1.tgee-card.flex-md-row(style="min-width: 267px;")
            .tgee-card-img(style="background-image: url('images/首頁/news_bg_2.png'); max-width: 310px;")
            .tgee-card-body.p-2
              p 
                |創作者的生存遊戲 #1
                br
                |畢業後，如何集體創作並且活下去
              .d-flex
                div
                  small.f-14 1 小時前更新 
                .tgee-circle-button.f-12
                  i.fas.fa-chevron-right
          .m-1.tgee-card.flex-md-row(style="min-width: 267px;")
            .tgee-card-img(style="background-image: url('images/首頁/news_bg_3.png'); max-width: 310px;")
            .tgee-card-body.p-2
              p
                |創作者的生存遊戲 #1
                br
                |畢業後，如何集體創作並且活下去
              .d-flex
                div
                  small.f-14 1 小時前更新 
                .tgee-circle-button.f-12
                  i.fas.fa-chevron-right

  div(style="background-image: url('images/首頁/trapezoid.svg'); background-position: top right; background-repeat: no-repeat;")
    .container.py-6

      h2.h1.mb-3 各界推薦
      .shadow.rounded.js-slick.bg-white
        div
          .tgee-card.flex-md-row
            .tgee-card-img(style="background-image: url('images/首頁/recommend.png'); height: 200px; width: 500px;")
            .tgee-card-body
              h2 鄭祤呈
              p 好奇心創意 營運長
              p.mb-0
                |這裡真的很棒！你真的要加入看看！真心推薦想要創作遊戲的朋友
                |一定要加入這個平台，在這裡你可以完成你的夢想。讓你的遊戲創
                |作旅程從這開始吧。
        div
          .tgee-card.flex-md-row
            .tgee-card-img(style="background-image: url('images/首頁/recommend.png'); height: 200px; width: 500px;")
            .tgee-card-body
              h2 鄭祤呈
              p 好奇心創意 營運長
              p.mb-0
                |這裡真的很棒！你真的要加入看看！真心推薦想要創作遊戲的朋友
                |一定要加入這個平台，在這裡你可以完成你的夢想。讓你的遊戲創
                |作旅程從這開始吧。
        div
          .tgee-card.flex-md-row
            .tgee-card-img(style="background-image: url('images/首頁/recommend.png'); height: 200px; width: 500px;")
            .tgee-card-body
              h2 鄭祤呈
              p 好奇心創意 營運長
              p.mb-0
                |這裡真的很棒！你真的要加入看看！真心推薦想要創作遊戲的朋友
                |一定要加入這個平台，在這裡你可以完成你的夢想。讓你的遊戲創
                |作旅程從這開始吧。
          
      .d-flex.justify-content-center.align-items-center
        .d-inline-block.next-arrow
          .tgee-circle-button.border-0.shadow
            i.fas.fa-chevron-left
        .dots.d-inline-block.position-relative
        .d-inline-block.prev-arrow
          .tgee-circle-button.border-0.shadow
            i.fas.fa-chevron-right

      .mt-6
        include partials/achievement.pug
