extends ./layout/layout.pug

block content

  .nav.tgee-tabs.justify-content-center.shadow.f-16
    .item.mx-2.p-1.position-absolute(style="left: 0;") 條款相關
    .item.mx-2.p-1(data-toggle="tab" href="#nav-a") 常見說明
    .item.mx-2.p-1(data-toggle="tab" href="#nav-b") 版權問題
    .item.mx-2.p-1(data-toggle="tab" href="#nav-c") 隱私權政策

  .container.py-5.px-0.px-md-2
    .d-flex.align-items-center.flex-column.flex-md-row
      h1.p-3.p-md-0.mr-auto 隱私權政策
      img(src="images/faq/question-img.svg" style="max-width: 100%;")
    .row
      .col-md-4
        .rounded.shadow.pt-md-3.p-3.pt-6.mobile-toggle-menu.js-mobile-toggle-menu
          h2 目錄
          a(href="#") 平台公告事項
          hr
          a(href="#") 特定產品公告事項
          hr
          a(href="#") 我們如何使用您的資訊
          hr
          a(href="#") 癲癇與虛擬實境健康警告 
          .shadow.only-mobile.toggle-trigger.position-absolute.bg-white.rounded-right.p-2
            |*
            br
            |目
            br
            |錄
      .col-md-8
        .rounded.shadow.py-3.px-4
          .mb-5
            h2 平台公告事項
            p 必須要有網際網路連線、EA帳號；接受EA使用者協議(terms.ea.com/tc)、隱私與COOKIE政策以及ORIGIN使用者授權協議(www.ea.com/zh-tw/legal)；安裝ORIGIN用戶端程式軟體(www.origin.com/download)以及使用單次使用產品代碼註冊才能開始遊戲，與取得額外內容和線上功能。 產品代碼註冊限制每組代碼對應一組EA帳號。 產品代碼一經使用即不得轉讓，此外，至少在能使用線上功能期間，產品代碼不可失效。 您必須年滿13歲才能使用某些功能。 EA 可能會提供特定的免費額外內容及/或更新。您可以購買額外的遊戲內容。  系統可能會自動下載必要內容更新，需要額外的儲存空間，須支付頻寬使用費，而且必須另外購買才能使用。 軟體可能收集資料，以提供遊戲內的廣告。 EA在下列網址發佈通知30天後，可能將其線上功能收回：www.ea.com/zh-tw/service-updates。
          .mb-5
            h2 特定產品公告事項
            p 未列出的遊戲表示並沒有與平台公告事項不同的特定使用者授權協議或公告事項。依英文字母順序列出的遊戲。
            a.d-block.mb-2(href="#") 單一遊戲公告連結
            a.d-block.mb-2(href="#") 單一遊戲公告連結
            a.d-block.mb-2(href="#") 單一遊戲公告連結
          .mb-5
            h2 特定產品公告事項
            p 某些人在日常生活中接觸到特定閃爍的光線或發光圖案時，容易引發癲癇發作或喪失意識。 這些人在觀看電視影像或遊玩特定電子遊戲時，可能會發生癲癇。 即使這些人之前沒有任何癲癇醫療病史或從未癲癇發作，也有可能發生此類情事。 如果您或您的任何家人，在接觸到閃爍的光線時，曾有與癲癇相關的任何症狀（癲癇發作或喪失意識），請在遊玩前先諮詢您的醫師。我們建議家長應監控其子女對電子遊戲的使用狀況。 如果您或您的子女在遊玩電子遊戲時遭遇到下列任何症狀：暈眩、視力模糊、眼睛或肌肉抽搐、喪失意識、定向障礙，任何不自主運動或痙攣，請立即停止使用並諮詢您的醫師。
          .mb-5
            h2 資料使用
            p 在您使用EA 服務時，EA可能會收集與儲存來自您電腦或裝置的資料，其中包含您電腦、裝置、作業系統（例如IP位址和裝置ID）、EA 服務使用資訊、遊戲與使用統計、系統互動與周邊硬體的相關資料（舉例來說、為了保護您的遊戲數據，EA可能會在您裝置上的鑰匙串儲存區放置一個隨機產生的識別碼）。該識別碼將於您重設裝置時移除。如果您離線遊玩EA 服務，這些資料將儲存於您的裝置，於您上線時傳輸給EA。EA會使用這些資訊營運業務、改進其產品和服務、提供服務給您及與您通訊（包括行銷目的）、提供軟體更新、動態供應內容，以及軟體支援，還有解決程式漏洞或以其他方式增進您的體驗。如果您使用了線上服務，EA可能也會收集、使用、儲存、傳輸及公開展示與線上遊戲相關的統計資訊（包括成績、排名以及成就），或運用這些資訊驗明由您創造並分享給其他玩家的內容。您的資料乃是依據載於privacy.ea.com/tc 的「EA隱私與Cookie政策」，由位於美國的 EA Inc. 收集、使用、儲存與傳輸。
      