extends ./layout/layout.pug

block content
  .container.py-5
    .py-3
      h1.mb-2 變更密碼完成！
      p.mb-3 已成功更改密碼，請重新登入網站。
      button.btn.rounded-pill.btn-orange 回到登入頁面
      img.fancy-banner(src="images/登入_註冊/login@2x.png")