extends ./layout/layout.pug

block content
  .bg-cover(style="background-image: url(images/搜尋結果頁/main-short-gray-bg.jpg)")
    .container.py-5
      h2 關於「電競活動文字最多15個字...」，我們幫你找到了：
      small.text-gray-2 共有 74 項搜尋結果
  
  .container
    .d-flex.py-5
      .mr-auto
        p 建議
        ul.small
          li 請檢查有無錯別字
          li 請試著換用不同的查詢字詞搜尋
          li 請改試較常用的字詞搜尋
          li 請試著減少查詢字詞
      img(width="333px" src="images/找不到搜尋結果/search-none-img@2x.png")