extends ./layout/layout.pug

block content
  .bg-cover(style="background-image: url(images/搜尋結果頁/main-short-gray-bg.jpg)")
    .container.py-5
      h2 關於「電競活動文字最多15個字...」，我們幫你找到了：
      small.text-gray-2 共有 74 項搜尋結果
  
  .container.pb-5(style="margin-top: -15px;")
    .px-3.py-2.mb-2.shadow.rounded.bg-white
      small.text-gray-2 遊戲新聞
      h2 華碩ROG Phone 3聯手《決勝時刻Mobile》舉辦電競直播主選秀節目與世界大賽區域拔決...
      p 華碩 ROG Phone 3 與《決勝時刻 Mobile》今（22）日舉行記者會，宣布聯名舉辦電競直播主選秀節目《為贏而生 決勝之王》，並邀請 4 位知名實況主 Xargon、貝莉莓、劉萱、蝦愛橘子擔任節目導師。《為贏而生 決勝之王》將公開招募有興趣...為專業遊戲直播主的玩家，透一連串的考驗與挑戰，挖掘遊戲直播界的明日之星。
      small 1 小時前更新
    
    .px-3.py-2.mb-2.shadow.rounded.bg-white
      small.text-gray-2 遊戲新聞
      h2 華碩ROG Phone 3聯手《決勝時刻Mobile》舉辦電競直播主選秀節目與世界大賽區域拔決...
      p 華碩 ROG Phone 3 與《決勝時刻 Mobile》今（22）日舉行記者會，宣布聯名舉辦電競直播主選秀節目《為贏而生 決勝之王》，並邀請 4 位知名實況主 Xargon、貝莉莓、劉萱、蝦愛橘子擔任節目導師。《為贏而生 決勝之王》將公開招募有興趣...為專業遊戲直播主的玩家，透一連串的考驗與挑戰，挖掘遊戲直播界的明日之星。
      small 1 小時前更新
    
    .px-3.py-2.mb-2.shadow.rounded.bg-white
      small.text-gray-2 遊戲新聞
      h2 華碩ROG Phone 3聯手《決勝時刻Mobile》舉辦電競直播主選秀節目與世界大賽區域拔決...
      p 華碩 ROG Phone 3 與《決勝時刻 Mobile》今（22）日舉行記者會，宣布聯名舉辦電競直播主選秀節目《為贏而生 決勝之王》，並邀請 4 位知名實況主 Xargon、貝莉莓、劉萱、蝦愛橘子擔任節目導師。《為贏而生 決勝之王》將公開招募有興趣...為專業遊戲直播主的玩家，透一連串的考驗與挑戰，挖掘遊戲直播界的明日之星。
      small 1 小時前更新