extends ./layout/layout.pug

block content
  .bg-cover(style="background-image: url(images/搜尋結果頁/main-short-gray-bg.jpg)")
    .container.py-5
      h2 關於「電競活動文字最多15個字...」，我們幫你找到了：
      small.text-gray-2 共有 74 項搜尋結果
  
  .container.pb-5(style="margin-top: -30px;")
    
    for i in [1,2,3,4,5,6,7,8,9,10]
      .mb-2
        .tgee-card.flex-md-row.article-card.bg-white
          .tgee-card-body
            small.text-gray-2 遊戲新聞
            h2 文章標題文章標題文章標題文，章標題文章標題文章標題文...
            p 隔著螢幕，誰是判官？以媒體識讀與輿論殺人等社會議題為主軸、上市以來廣受好評的臺灣原創遊戲《螢幕判官》隔著螢幕，誰是判官？以媒體識讀與輿論殺...
            .d-flex
              small.mr-auto 1 小時前更新