extends ./layout/layout.pug

block content
  .container
    .py-5
      h1 專屬服務
      h3 創夢獨家為遊戲量身打造升級服務
      p 現在就申請加入專屬服務，即可享有獨家企劃協助，包含行銷方針指導、企業合作案規劃輔導。更有資金找尋、曝光等等優惠等你。
      button.btn.rounded-pill.btn-orange 立即申請專屬服務
    
    .py-5
      h1 專屬服務
      p 描述文字，最好能夠有二至三行的文字，描述文字，最好能夠有二至三行的文字。描述文字，最好能夠有二至三行的文字，描述文字，最好能夠有二至三行的文字。沒有的話就刪掉。

      .row
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .tgee-card-body
              img(src="images/首頁/temp_svg_icon.png", style="width: 2rem;")
              p 競賽獎項
            .tgee-card-footer
              small.f-14 1 小時前更新 
              .tgee-circle-button.f-12
                i.fas.fa-chevron-right
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .tgee-card-body
              img(src="images/首頁/temp_svg_icon.png", style="width: 2rem;")
              p 競賽獎項
            .tgee-card-footer
              small.f-14 1 小時前更新 
              .tgee-circle-button.f-12
                i.fas.fa-chevron-right
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .tgee-card-body
              img(src="images/首頁/temp_svg_icon.png", style="width: 2rem;")
              p 競賽獎項
            .tgee-card-footer
              small.f-14 1 小時前更新 
              .tgee-circle-button.f-12
                i.fas.fa-chevron-right
        .col-md-3
          .tgee-card.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
            .tgee-card-body
              img(src="images/首頁/temp_svg_icon.png", style="width: 2rem;")
              p 競賽獎項
            .tgee-card-footer
                small.f-14 1 小時前更新 
                .tgee-circle-button.f-12
                  i.fas.fa-chevron-right
      
      h3 驗證會員福利
      ul
        li 指定課程活動免費參與或報名優惠
        li 限定會員專屬活動
        li 不定期聚會
    
    .py-5
      h1 申請資格
      p 描述文字，最好能夠有二至三行的文字，描述文字，最好能夠有二至三行的文字。描述文字，最好能夠有二至三行的文字，描述文字，最好能夠有二至三行的文字。

      .row
        .col-md-4.text-center
          img.rounded-circle(src="#")
          h3 加入創夢會員
          p 描述文字，最好能夠有二至三行的文字，描述文字。
        .col-md-4.text-center
          img.rounded-circle(src="#")
          h3 加入創夢會員
          p 描述文字，最好能夠有二至三行的文字，描述文字。
        .col-md-4.text-center
          img.rounded-circle(src="#")
          h3 加入創夢會員
          p 描述文字，最好能夠有二至三行的文字，描述文字。

