extends ./layout/layout.pug

block content
  .service-page
  
    .container
      .py-5.row
        .col-md-7.d-flex.flex-column.justify-content-center
          h1.mb-2 專屬服務
          h2.mb-2 創夢獨家為遊戲量身打造升級服務
          p 現在就申請加入專屬服務，即可享有獨家企劃協助，包含行銷方針指導、企業合作案規劃輔導。更有資金找尋、曝光等等優惠等你。
          .mt-3
            button.btn.rounded-pill.btn-orange 立即申請專屬服務
        .col-md-5
          img.w-100(src="images/專屬服務一覽/service-main-img.png")

    
    .py-5(style="background-image: url('images/專屬服務一覽/bg_1.svg'); background-repeat: no-repeat; background-position: right;")
      .container
        h1.mt-3 服務項目
        p.mt-2 描述文字，最好能夠有二至三行的文字，描述文字，最好能夠有二至三行的文字。描述文字，最好能夠有二至三行的文字，描述文字，最好能夠有二至三行的文字。沒有的話就刪掉。

        .row.mt-3
          .col-md-3
            .tgee-card.d-flex.flex-column.justify-content-between.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
              .p-2
                img(src="images/public-icon/icon_1.svg", style="width: 30px;")
                p.h2.mt-2 競賽獎項
              .p-2.d-flex
                .ml-auto.tgee-circle-button.f-12
                  i.fas.fa-chevron-right
          .col-md-3
            .tgee-card.d-flex.flex-column.justify-content-between.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
              .p-2
                img(src="images/public-icon/icon_1.svg", style="width: 30px;")
                p.h2.mt-2 競賽獎項
              .p-2.d-flex
                .ml-auto.tgee-circle-button.f-12
                  i.fas.fa-chevron-right
          .col-md-3
            .tgee-card.d-flex.flex-column.justify-content-between.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
              .p-2
                img(src="images/public-icon/icon_1.svg", style="width: 30px;")
                p.h2.mt-2 競賽獎項
              .p-2.d-flex
                .ml-auto.tgee-circle-button.f-12
                  i.fas.fa-chevron-right
          .col-md-3
            .tgee-card.d-flex.flex-column.justify-content-between.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
              .p-2
                img(src="images/public-icon/icon_1.svg", style="width: 30px;")
                p.h2.mt-2 競賽獎項
              .p-2.d-flex
                .ml-auto.tgee-circle-button.f-12
                  i.fas.fa-chevron-right

        
        h3.mt-5 驗證會員福利
        ul
          li.mt-2 指定課程活動免費參與或報名優惠
          li.mt-2 限定會員專屬活動
          li.mt-2 不定期聚會
    
    .container
      .py-5
        h1.mb-2 申請資格
        p 描述文字，最好能夠有二至三行的文字，描述文字，最好能夠有二至三行的文字。描述文字，最好能夠有二至三行的文字，描述文字，最好能夠有二至三行的文字。

        .row.mt-5
          .col-md-4.text-center
            .mx-auto.bg-gray-3.rounded-circle(style="width: 160px; height: 160px;")
            h3.h2.mt-3 加入創夢會員
            p.mt-2 描述文字，最好能夠有二至三行的文字，描述文字。
          .col-md-4.text-center
            .mx-auto.bg-gray-3.rounded-circle(style="width: 160px; height: 160px;")
            h3.h2.mt-3 加入創夢會員
            p.mt-2 描述文字，最好能夠有二至三行的文字，描述文字。
          .col-md-4.text-center
            .mx-auto.bg-gray-3.rounded-circle(style="width: 160px; height: 160px;")
            h3.h2.mt-3 加入創夢會員
            p.mt-2 描述文字，最好能夠有二至三行的文字，描述文字。
      

      .py-5.px-4.bg-gray-4
        h2.mb-3.text-primary.text-center.text-md-left 流程申請

        .steps-container
          .steps-line-desktop
          .steps-line-mobile
          .step
            .step-circle 1
            p.m-2.text-center 註冊會員
          .step
            .step-circle 2
            p.m-2.text-center 驗證公司資料
          .step
            .step-circle 3
            p.m-2.text-center 審核驗證資料
          .step
            .step-circle.bg-primary.text-white.h2.mb-0
              i.fas.fa-check
            p.m-2.text-center 驗證完成

      .py-5
        p 現在就申請加入專屬服務，即可享有獨家企劃協助，包含行銷方針指導、企業合作案規劃輔導。更有資金找尋、曝光等等優惠等你。現在就申請加入專屬服務，即可享有獨家企劃協助，包含行銷方針指導、企業合作案規劃輔導。
        .row.pt-3.align-items-center
          .col-md-2.text-center
            img(src="images/public-icon/icon_1.svg", style="width: 30px;")
            p.mt-2 競賽獎項
          .col-md-2.text-center
            img(src="images/public-icon/icon_1.svg", style="width: 30px;")
            p.mt-2 競賽獎項
          .col-md-2.text-center
            img(src="images/public-icon/icon_1.svg", style="width: 30px;")
            p.mt-2 競賽獎項
          .col-md-6.d-flex.justify-content-center.justify-content-md-end
            button.btn.rounded-pill.btn-orange 立即申請專屬服務

      .py-5
        h1 合作支持單位
        .only-desktop
          .js-slick(data-slides-to-show="4")
            for i in [1,2,3,4,5,6,7,8,9,10]
              .py-4.px-2
                .tgee-card.d-flex.flex-column.align-items-center.justify-content-center.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
                  div
                    img(src="images/專屬服務一覽/company_logo.png", style="height: 50px;")
                  p.mt-2 競賽獎項
          .d-flex.justify-content-center.align-items-center
            .next-arrow
              .tgee-circle-button.border-0.shadow
                i.fas.fa-chevron-left
            .dots
            .prev-arrow
              .tgee-circle-button.border-0.shadow
                i.fas.fa-chevron-right
  
        .only-mobile
          .js-slick(data-slides-to-show="1")
            for i in [1,2,3,4,5,6,7,8,9,10]
              .py-4.px-2
                .tgee-card.d-flex.flex-column.align-items-center.justify-content-center.bg-cover(style="background-image: url('images/首頁/resources-card.png'); height: 218px;")
                  div
                    img(src="images/專屬服務一覽/company_logo.png", style="height: 50px;")
                  p.mt-2 競賽獎項
          .d-flex.justify-content-center.align-items-center
            .next-arrow
              .tgee-circle-button.border-0.shadow
                i.fas.fa-chevron-left
            .dots
            .prev-arrow
              .tgee-circle-button.border-0.shadow
                i.fas.fa-chevron-right

