extends ./layout/layout.pug

block content
  .container-md.py-6

    h1.mb-3 專屬服務一覽

    .py-4.mobile-scroll-x.d-flex(style="margin: 0 -7.5px;")
      .mx-1.flex-grow-1
        .tgee-card
          .p-2.bg-gray-5
            img(src="images/public-icon/icon_1.svg", style="width: 30px;")
            h2.mt-2 資金申請
          .p-2
            p.small 資金申請服務包含
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
      .mx-1.flex-grow-1
        .tgee-card
          .p-2.bg-gray-5
            img(src="images/public-icon/icon_1.svg", style="width: 30px;")
            h2.mt-2 資金申請
          .p-2
            p.small 資金申請服務包含
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
      .mx-1.flex-grow-1
        .tgee-card
          .p-2.bg-gray-5
            img(src="images/public-icon/icon_1.svg", style="width: 30px;")
            h2.mt-2 資金申請
          .p-2
            p.small 資金申請服務包含
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
      .mx-1.flex-grow-1
        .tgee-card
          .p-2.bg-gray-5
            img(src="images/public-icon/icon_1.svg", style="width: 30px;")
            h2.mt-2 資金申請
          .p-2
            p.small 資金申請服務包含
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
            p.mb-2
              i.fas.fa-check.text-secondary.mr-2
              |服務項目最多10個字
    
    .d-flex.flex-column.flex-md-row.justify-content-center.justify-content-md-end.align-items-center
      p.mb-2.mr-md-3 讓資源找尋變得不再困難 
      button.mb-2.tgee-btn 立即申請專屬服務
  

    .py-5
      h1.mb-3 相關資源
      .row
        for i in [1,2,3,4,5,6,7,8,9,10]
          .col-md-6
            .tgee-card.mb-2
              .tgee-card-img(style="background-image: url('images/專屬服務一覽/default-bnr-310x168@2x.jpg');")
              .tgee-card-body.p-2
                p 遊戲創業及啟動基金
                p.f-3
                  |地區：全國性
                  br
                  |時間：08/21/2020
                .d-flex
                  div
                    span.badge.badge-pill.badge-gray-4 遊戲新聞
                  .tgee-circle-button.f-12
                    i.fas.fa-chevron-right
      
      .py-3.text-center
        button.tgee-btn-outline 立即申請專屬服務

      
      
