extends ./layout/layout.pug

block content
  .container.py-5
    .py-3
      h1.mb-2 進階會員審核中
      p.mb-3 審核約需一周，通過將寄發成功信件，即可登入專屬服務。
      button.btn.rounded-pill.btn-outline-gray-1 回到首頁
      img.fancy-banner(src="images/登入_註冊/login@2x.png")