extends ./layout/layout.pug

block content
  .container.py-5
    .row
      .col-7
        .d-flex
          h2.mb-3.mr-auto 會員註冊
          p
            | 已經是會員？
            a(href="#") 我要登入
        .form-group
          label 電子郵件
          input.form-control(placeholder="example@gmail.com")
        .form-group
          label 密碼
          input.form-control(placeholder="6-12 個字元，中英混合")
        .form-group
          label 確認密碼
          input.form-control(placeholder="密碼需與上ㄧ列相同")
        .form-group
          label 團隊或公司名稱
          input.form-control(placeholder="OOO股份有限公司")
        .form-group
          label 聯絡窗口姓名
          input.form-control(placeholder="姓名")
        .form-group
          label 聯絡窗口電話
          input.form-control(placeholder="09xxxxxxxx")
        .form-group
          label 聯絡窗口信箱
          input.form-control(placeholder="example@gmail.com")
        .form-group
          label 團隊/公司介紹
          textarea.form-control(placeholder="300字以內")
        .form-group
          label 聯絡窗口官方網站
          input.form-control(placeholder="https://example.com")
        .form-group
          input(type="checkbox" placeholder="https://example.com")
          | 我同意&nbsp;
          a(href="#") 使用條款與隱私權政策說明
        button.btn.rounded-pill.btn-orange 註冊
        
    img.fancy-banner(src="images/登入_註冊/login@2x.png")