
<div class="row">
  <div class="col-md-4 mb-2">
    <div class="tgee-card d-flex flex-column justify-content-center align-items-center text-white bg-cover"
      style="background-image: url({{ static('home/home-card-blue.png') }}); height: 235px;">
      <p>成員人數</p>
      <p><span class="display-4">150</span><span class="h1">+</span></p>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="tgee-card d-flex flex-column justify-content-center align-items-center text-white bg-cover"
    style="background-image: url({{ static('home/home-card-blue.png') }}); height: 235px;">
      <p>遊戲團隊</p>
      <p><span class="display-4">150</span><span class="h1">+</span></p>
    </div>
  </div>
  <div class="col-md-4 mb-2">
    <div class="tgee-card d-flex flex-column justify-content-center align-items-center text-white bg-cover"
    style="background-image: url({{ static('home/home-card-blue.png') }}); height: 235px;">
      <p>遊戲數量</p>
      <p><span class="display-4">150</span><span class="h1">+</span></p>
    </div>
  </div>
</div>