<div class="p-2 p-md-3 rounded w-100 shadow d-md-flex align-items-center">
  <div class="p-1 p-md-2">
    <span class="h3 mb-0">分類搜尋</span>
  </div>
  {% for my_filter in filters %}
    {% if my_filter.multi %}
    <div class="p-1 p-md-2 flex-grow-1">
      {% with default_text = my_filter.name, options = my_filter.options %}
        {% include './partials/select_multi.html' %}
      {% endwith %}
    </div>
    {% else %}
    <div class="p-1 p-md-2 flex-grow-1">
      {% with default_text = my_filter.name, options = my_filter.options %}
        {% include './partials/select.html' %}
      {% endwith %}
    </div>
    {% endif %}
  {% endfor %}
  <div class="p-1 p-md-2">
    <button class="tgee-btn-primary">搜尋</button>
  </div>
</div>
