<footer id="footer">
  <div class="bg-light-blue text-dark">
    <div class="container px-0 py-md-5">
      <div class="d-flex flex-column flex-md-row f-2">
        <div class="flex-grow-1">
          <div class="item only-mobile">
            <a class="footer-collapse-trigger collapsed" data-toggle="collapse" data-target="#footer-collapse-1">關於我們</a>
          </div>
          <div class="item only-desktop mb-1 font-weight-bold">
            <span>關於我們</span>
          </div>
          <div class="footer-collapse collapse" id="footer-collapse-1" data-parent="#footer">
            <a class="item" href="{{url('home')}}">計畫團隊</a>
            <a class="item" href="{{url('home')}}">媒體素材</a>
          </div>
        </div>
        <div class="flex-grow-1">
          <div class="item only-mobile">
            <a class="footer-collapse-trigger collapsed" data-toggle="collapse" data-target="#footer-collapse-2">條款相關</a>
          </div>
          <div class="item only-desktop mb-1 font-weight-bold">
            <span>條款相關</span>
          </div>
          <div class="footer-collapse collapse" id="footer-collapse-2" data-parent="#footer">
            <a class="item" href="{{url('faq')}}">常見問題</a>
            <a class="item" href="{{url('terms')}}">版權說明</a>
            <a class="item" href="{{url('privacy')}}">隱私權政策</a>
          </div>
        </div>
        <div class="flex-grow-1">
          <div class="item only-mobile">
            <a class="footer-collapse-trigger collapsed" data-toggle="collapse" data-target="#footer-collapse-3">相關連結</a>
          </div>
          <div class="item only-desktop mb-1 font-weight-bold">
            <span>相關連結</span>
          </div>
          <div class="footer-collapse collapse" id="footer-collapse-3" data-parent="#footer">
            <a class="item" href="{{url('home')}}">TIGEA</a>
            <a class="item" href="{{url('home')}}">創夢市集</a>
            <a class="item" href="{{url('home')}}">好奇心創意</a>
          </div>
        </div>
        <div class="flex-grow-1">
          <div class="item only-mobile">
            <a class="footer-collapse-trigger collapsed" data-toggle="collapse" data-target="#footer-collapse-4">與我們聯絡</a>
          </div>
          <div class="item only-desktop mb-1 font-weight-bold">
            <span>與我們聯絡</span>
          </div>
          <div class="footer-collapse collapse" id="footer-collapse-4" data-parent="#footer">
            <a class="item" href="https://www.facebook.com/DITStartup/">FB粉絲團</a>
            <a class="item" href="mailto: Gamesupport01@gmail.com">Gamesupport01@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark-blue text-white text-center">
    <div class="container py-2">
      <p class="mb-0 f-12">創夢市集版權所有 © Copyright 2019, ditlabs Co., Ltd. All rights reserved.</p>
    </div>
  </div>
</footer>