<div class="mobile-scroll-x d-md-flex" style="margin: 0 -7.5px;">
  <div class="d-inline-block flex-fill mx-1">
    <a href="{{url('service')}}">
      <div class="tgee-card d-flex flex-column justify-content-between bg-cover"
        style="background-image: url({{ static('home/resources-card.png') }}); height: 218px; background-position: bottom left;">
        <div class="p-2"><img src="{{ static('icons/icon_1.svg') }}" style="width: 30px;" />
          <p class="h2 mt-2 text-gray-1">競賽獎項</p>
        </div>
        <div class="p-2 d-flex">
          <div class="ml-auto tgee-circle-button"><i class="fas fa-chevron-right"></i></div>
        </div>
      </div>
    </a>
  </div>
  <div class="d-inline-block flex-fill mx-1">
    <a href="{{url('service')}}">
      <div class="tgee-card d-flex flex-column justify-content-between bg-cover"
        style="background-image: url({{ static('home/resources-card.png') }}); height: 218px; background-position: bottom left;">
        <div class="p-2"><img src="{{ static('icons/icon_2.svg') }}" style="width: 30px;" />
          <p class="h2 mt-2 text-gray-1">發行代理</p>
        </div>
        <div class="p-2 d-flex">
          <div class="ml-auto tgee-circle-button"><i class="fas fa-chevron-right"></i></div>
        </div>
      </div>
    </a>
  </div>
  <div class="d-inline-block flex-fill mx-1">
    <a href="{{url('service')}}"> 
      <div class="tgee-card d-flex flex-column justify-content-between bg-cover"
      style="background-image: url({{ static('home/resources-card.png') }}); height: 218px; background-position: bottom left;">
      <div class="p-2"><img src="{{ static('icons/icon_3.svg') }}" style="width: 30px;" />
        <p class="h2 mt-2 text-gray-1">秘技精華</p>
      </div>
      <div class="p-2 d-flex">
        <div class="ml-auto tgee-circle-button"><i class="fas fa-chevron-right"></i></div>
      </div>
    </div>
    </a>
  </div>
  <div class="d-inline-block flex-fill mx-1">
    <a href="{{url('service')}}">
      <div class="tgee-card d-flex flex-column justify-content-between bg-cover"
        style="background-image: url({{ static('home/resources-card.png') }}); height: 218px; background-position: bottom left;">
        <div class="p-2"><img src="{{ static('icons/icon_4.svg') }}" style="width: 30px;" />
          <p class="h2 mt-2 text-gray-1"> 綜合補給</p>
        </div>
        <div class="p-2 d-flex">
          <div class="ml-auto tgee-circle-button"><i class="fas fa-chevron-right"></i></div>
        </div>
      </div>
    </a>
  </div>
</div>