<div class="modal" id="modal_team_edit" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <button class="tgee-btn-close" data-dismiss="modal"></button>
      <div class="p-3 bg-gray-4">
        <div class="row mb-md-4">
          <div class="col-md-6">
            <div class="pt-3">
              <p class="text-gray-2 mb-1">聯絡窗口</p>
              <div class="p-2 border rounded bg-white">
                <input class="form-control rounded" placeholder="中文名稱不超過 20 字" value="陳任軒"/>
                <small class="text-gray-3">隱私設定</small>
                <div class="mr-3"><input type="radio" />&nbsp;不設限</div>
                <div class="mr-3"><input type="radio" />&nbsp;對會員公開</div>
                <div class="mr-3"><input type="radio" />&nbsp;不公開</div>
              </div>
            </div>
            <div class="pt-3">
              <p class="text-gray-2 mb-1">聯絡電話</p>
              <div class="p-2 border rounded bg-white">
                <input class="form-control rounded" placeholder="中文名稱不超過 20 字" value="0987654321"/>
                <small class="text-gray-3">隱私設定</small>
                <div class="mr-3"><input type="radio" />&nbsp;不設限</div>
                <div class="mr-3"><input type="radio" />&nbsp;對會員公開</div>
                <div class="mr-3"><input type="radio" />&nbsp;不公開</div>
              </div>
            </div>
            <div class="pt-3">
              <p class="text-gray-2 mb-1">電子郵件</p>
              <div class="p-2 border rounded bg-white">
                <input class="form-control rounded" placeholder="中文名稱不超過 20 字" value="hello@gmail.com"/>
                <small class="text-gray-3">隱私設定</small>
                <div class="mr-3"><input type="radio" />&nbsp;不設限</div>
                <div class="mr-3"><input type="radio" />&nbsp;對會員公開</div>
                <div class="mr-3"><input type="radio" />&nbsp;不公開</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pt-3">
              <p class="text-gray-2 mb-1">所在縣市</p>
              <input class="form-control rounded" placeholder="中文名稱不超過 20 字" value="0900-000-000"/>
            </div>
            <div class="pt-3">
              <p class="text-gray-2 mb-1">成立年份</p>
              <input class="form-control rounded" placeholder="中文名稱不超過 20 字" value="pr@18light.cc"/>
            </div>
            <div class="pt-3">
              <p class="text-gray-2 mb-1">官方網站</p>
              <input class="form-control rounded" placeholder="中文名稱不超過 20 字" value="pr@18light.cc"/>
            </div>
            <div class="pt-3">
              <p class="text-gray-2 mb-1">facebook 粉絲專頁</p>
              <input class="form-control rounded" placeholder="中文名稱不超過 20 字" value="pr@18light.cc"/>
            </div>
            <div class="pt-3">
              <p class="text-gray-2 mb-1">instagram</p>
              <input class="form-control rounded" placeholder="中文名稱不超過 20 字" value="pr@18light.cc"/>
            </div>
            <div class="pt-3">
              <p class="text-gray-2 mb-1">twitter</p>
              <input class="form-control rounded" placeholder="中文名稱不超過 20 字" value="pr@18light.cc"/>
            </div>
          </div>
        </div>
        <div class="mb-md-4 d-flex">
          <button class="tgee-btn-secondary ml-auto" data-dismiss="modal">取消</button>
          <button class="tgee-btn-primary ml-2">儲存</button>
        </div>
      </div>
    </div>
  </div>
</div>