<nav class="fixed-top f-16">

  <!-- 手機版 -->
  <div class="bg-blue d-md-none">
    <div class="p-2">
      <div class="position-relative d-flex justify-content-between align-items-center">
        <div class="text-white navbar-collapse-main-trigger collapsed" data-toggle="collapse" data-target="#navbar-mobile-collapse">
          <i class="fas fa-bars"></i>
          <i class="fas fa-times"></i>
        </div>
        <h3 class="mb-0 text-white"><img src="{{static('logo.svg')}}" alt=""></h3>
        <div class="searchbox js-searchbox">
          <i class="fas fa-times icon-close"></i>
          <img src="{{static('icons/icon-search.svg')}}" class="icon-search">
          <input type="text" placeholder="搜尋">
        </div>
      </div>
    </div>
    <div class="collapse" id="navbar-mobile-collapse">
      <div class="d-flex text-white bg-blue">
        <div id="navbar-collapse-my-trigger" class="p-2 flex-fill text-center border border-light-blue border-left-0 border-right-0 collapse-trigger collapsed" data-toggle="collapse" data-target="#navbar-collapse-my">
          登入註冊&nbsp;<i class="fas fa-chevron-up ml-auto"></i>
        </div>
        <div class="p-2 flex-fill text-center border border-light-blue border-right-0">合作聯繫</div>
      </div>
      <div class="list-group list-group-flush collapse" id="navbar-collapse-my" data-parent="#navbar-mobile-collapse">
        <a class="list-group-item" href="{{url('home')}}">個人資料</a>
        <a class="list-group-item" href="{{url('home')}}">文章管理</a>
        <a class="list-group-item" href="{{url('home')}}">專屬服務</a>
        <a class="list-group-item" href="{{url('home')}}"><i class="fas fa-sign-out-alt"></i>登出</a>
      </div>
      <div class="list-group list-group-flush" data-parent="#navbar-mobile-collapse" id="navbar-collapse-links">
        <a class="collapsed d-flex list-group-item collapse-trigger" data-toggle="collapse" data-target="#navbar-collapse-1">
          最新消息&nbsp;<i class="fas fa-chevron-up ml-auto"></i>
        </a>
        <div class="collapse" id="navbar-collapse-1" data-parent="#navbar-mobile-collapse">
          <a class="list-group-item bg-light-blue" href="{{url('home')}}">官方消息</a>
          <a class="list-group-item bg-light-blue" href="{{url('home')}}">產業訊息</a>
        </div>
        <a class="list-group-item" href="{{url('home')}}">遊戲新聞</a>
        <a class="list-group-item" href="{{url('home')}}">知識文章</a>
        <a class="collapsed d-flex list-group-item collapse-trigger" data-toggle="collapse" data-target="#navbar-collapse-2">
          活動看板<i class="fas fa-chevron-up ml-auto"></i>
        </a>
        <div class="collapse" id="navbar-collapse-2" data-parent="#navbar-mobile-collapse">
          <a class="list-group-item bg-light-blue" href="{{url('home')}}">國際展會</a>
          <a class="list-group-item bg-light-blue" href="{{url('home')}}">活動課程</a>
        </div>
        <a class="list-group-item" href="{{url('home')}}">專屬服務</a>
        <a class="list-group-item" href="{{url('home')}}">遊戲一覽</a>
        <a class="collapsed d-flex list-group-item collapse-trigger" data-toggle="collapse" data-target="#navbar-collapse-3">
          相關資源<i class="fas fa-chevron-up ml-auto"></i>
        </a>
        <div class="collapse" id="navbar-collapse-3" data-parent="#navbar-mobile-collapse">
          <a class="list-group-item bg-light-blue" href="{{url('home')}}">競賽獎項</a>
          <a class="list-group-item bg-light-blue" href="{{url('home')}}">政府計畫</a>
          <a class="list-group-item bg-light-blue" href="{{url('home')}}">遊戲社群</a>
          <a class="list-group-item bg-light-blue" href="{{url('home')}}">會計法務</a>
        </div>
      </div>
    </div>
  </div>

  <!-- 桌面版 -->
  <div class="tgee-navbar d-none d-md-flex px-5">
    <a class="mr-5" href="{{url('home')}}"><img src="{{static('logo.svg')}}" width="80" alt=""></a>
    <a class="mr-4" href="{{url('news')}}">最新消息</a>
    <a class="mr-4" href="{{url('news_game')}}">遊戲新聞</a>
    <a class="mr-4" href="{{url('articles')}}">知識文章</a>
    <a class="mr-4" href="{{url('campaigns')}}">活動看板</a>
    <a class="mr-4" href="{{url('service')}}">專屬服務</a>
    <a class="mr-4" href="{{url('games')}}">遊戲一覽</a>
    <a class="mr-4" href="{{url('resources')}}">相關資源</a>

    <div class="d-flex ml-auto align-items-center position-relative">
      <a class="mr-2 contact-btn" href="/">合作聯繫</a>
      <div class="dropdown">
        <div class="text-white" id="dropdownMenu2" data-toggle="dropdown">
          <img src="{{static('icons/icon-user.svg')}}" style="width: 16px; height: 16px;">
        </div>
        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">個人資料</button>
          <button class="dropdown-item" type="button">文章管理</button>
          <button class="dropdown-item" type="button">專屬服務</button>
        </div>
      </div>
      <div class="mx-2 border border-white" style="height: 20px;"></div>
      <div class="searchbox js-searchbox">
        <i class="fas fa-times icon-close"></i>
        <img src="{{static('icons/icon-search.svg')}}" class="icon-search">
        <input type="text" placeholder="搜尋">
      </div>
    </div>
  </div>
</nav>