<div class="tgee-dropdown js-tgee-dropdown">
  <div class="tgee-dropdown-trigger"><span class="mr-auto">種類</span><i class="fas fa-chevron-down"></i></div>
  <div class="tgee-dropdown-menu">
    <div class="tgee-dropdown-menu-body">
      <p class="w-100 py-1 item">互動戲劇</p>
      <p class="w-100 py-1 item">互動戲劇</p>
      <p class="w-100 py-1 item">互動戲劇</p>
      <p class="w-100 py-1 item">互動戲劇</p>
      <p class="w-100 py-1 item">互動戲劇</p>
      <p class="w-100 py-1 item">互動戲劇</p>
      <p class="w-100 py-1 item">互動戲劇</p>
      <p class="w-100 py-1 item">互動戲劇</p>
      <p class="w-100 py-1 item">互動戲劇</p>
      <p class="w-100 py-1 item">互動戲劇</p>
    </div>
  </div>
</div>