extends ./layout/layout.pug

block content
  form
    button.btn-circle.btn-primary.close-btn(data-dismiss='modal' style="width: 50px; height: 50px;")
      span &times;
    img.w-100(src="images/modal_game_show/game.png")
    .p-3
      .d-flex.mb-md-5.js-vue-imgs-uploader
        .position-relative.mr-3(v-for="img, index in images")
          img.d-block(:src="img.src", style="width: 100px; height: 70px;")
          input.position-absolute(style="top: 0; bottom: 0; left: 0; right: 0; opacity: 0;" type="file" @change="update_image(index, $event)")
          button.btn-circle.btn-primary.close-btn(@click="images.splice(index, 1)")
            span &times;
      .row.mb-md-5
        .col-md-4
          p.text-gray-2 遊戲作品中文名稱
          input.form-control.rounded(placeholder="中文名稱不超過 20 字")
        .col-md-4
          p.text-gray-2 遊戲作品英文名稱
          input.form-control.rounded(placeholder="中文名稱不超過 20 字")
        .col-md-4
          p.text-gray-2 遊戲支援人數
          input.form-control.rounded(placeholder="中文名稱不超過 20 字")
      .row.mb-md-5
        .col-md-4
          p.text-gray-2 遊戲影片
          input.form-control.rounded(placeholder="中文名稱不超過 20 字")
        .col-md-4
          p.text-gray-2 遊戲介紹社群頁面或網站
          input.form-control.rounded(placeholder="中文名稱不超過 20 字")
      .row.mb-md-5
        .col-md-4
          p.text-gray-2 遊戲類別
          .p-2.border.rounded
            include ./partials/select
        .col-md-4
          p.text-gray-2 遊戲語言
          .p-2.border.rounded
            include ./partials/select
        .col-md-4
          p.text-gray-2 遊戲平台
          .p-2.border.rounded
            include ./partials/select
      .row.mb-md-5
        .col-md-4
          p.text-gray-2 遊戲上架日期
          .p-2.border.rounded
            include ./partials/select
            small.text-gray-3 隱私設定
            .mr-3
              input(type="radio")
              |&nbsp;不設限
            .mr-3
              input(type="radio")
              |&nbsp;對會員公開
            .mr-3
              input(type="radio")
              |&nbsp;不公開
        .col-md-4
          p.text-gray-2 遊戲開發時長
          .p-2.border.rounded
            input.form-control.rounded(placeholder="中文名稱不超過 20 字")
            small.text-gray-3 隱私設定
            .mr-3
              input(type="radio")
              |&nbsp;不設限
            .mr-3
              input(type="radio")
              |&nbsp;對會員公開
            .mr-3
              input(type="radio")
              |&nbsp;不公開
        .col-md-4
          p.text-gray-2 遊戲製作引擎
          .p-2.border.rounded
            include ./partials/select
            small.text-gray-3 隱私設定
            .mr-3
              input(type="radio")
              |&nbsp;不設限
            .mr-3
              input(type="radio")
              |&nbsp;對會員公開
            .mr-3
              input(type="radio")
              |&nbsp;不公開
      .mb-md-5
        p.text-gray-2 遊戲中文介紹
        textarea.form-control.rounded(placeholder="中文名稱不超過 20 字")
      .mb-md-5
        p.text-gray-2 遊戲英文介紹
        textarea.form-control.rounded(placeholder="中文名稱不超過 20 字")
      .mb-md-5
        button.btn.btn-primary 送出
        button.btn.btn-orange 送出