{% extends "./layout/base.html" %}

{% block content %}
<div class="position-md-relative py-md-6">
  <div class="blur-banner position-relative position-md-absolute bg-white">
    <div class="blur-banner-img" style="background-image: url({{ static(team.img) }});"></div>
  </div>
  <div class="container px-0">
    <div class="p-3 position-relative shadow bg-white">
      <div class="small position-absolute" data-toggle="modal" data-target="#modal_team_edit"style="top: 15px; right: 15px;">
        <span>編輯</span>
        <i class="fas fa-pencil-alt"></i>
      </div>
      <div class="d-flex align-items-center flex-column flex-md-row mt-md-0" style="margin-top: -160px;">
        <div class="rounded bg-cover" style="background-image: url({{ static(team.img) }}); width: 219px; height: 219px;"></div>
        <div class="p-3">
          <h3>{{team.name}}</h3>
          <div class="d-flex flex-column flex-md-row">
            <div class="mr-6">
              <p><span class="text-gray-2">聯絡窗口</span><span class="px-2">{{team.author}}</span></p>
              <p><span class="text-gray-2">聯絡電話</span><span class="px-2">{{team.contact}}</span></p>
              <p><span class="text-gray-2">電子郵件</span><span class="px-2">{{team.email}}</span></p>
            </div>
            <div>
              <p><span class="text-gray-2">所在縣市</span><span class="px-2">{{team.city}}</span></p>
              <p><span class="text-gray-2">成立年份</span><span class="px-2">{{team.year}}</span></p>
              <p><span class="text-gray-2">官方網站</span><span class="px-2"><a href="{{team.site}}">{{team.site}}</a></span></p>
            </div>
          </div>
          <div class="text-center text-gray-2 position-md-absolute" style="right: 15px; bottom: 15px;">
            <a href="#"><i class="mx-1 fab fa-facebook-f"></i></a>
            <a href="#"><i class="mx-1 fab fa-instagram"></i></a>
            <a href="#"><i class="mx-1 fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5" id="js-games-gallary">
      <div class="d-flex align-itmes-center">
        <h2 class="mr-auto">遊戲團隊一瀏覽</h2>
        <span>新增遊戲</span>
      </div>
      <div class="only-desktop">
        <div class="js-slick" data-slides-to-show="3">
          {% for img, title, content, tags in team.games %}
          <div class="px-1 py-4 js-game-show">
            <div class="tgee-card bg-cover" style="background-image: url({{ static(img) }}); height: 250px;">
              <div class="p-2 fancy-bg-gradient h-100 d-flex justify-content-between flex-column">
                <div class="d-flex">
                  <span class="badge badge-pill badge-gray-1 mr-auto">恐怖遊戲</span>
                  <span class="badge badge-pill badge-gray-1 js-game-edit">
                    <i class="fas fa-ellipsis-v"></i>
                  </span>
                </div>
                <h3 class="mb-0 text-white">{{title}}</h3>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="prev-arrow">
            <div class="tgee-circle-button border-0 shadow"><i class="fas fa-chevron-left"></i></div>
          </div>
          <div class="dots"></div>
          <div class="next-arrow">
            <div class="tgee-circle-button border-0 shadow"><i class="fas fa-chevron-right"></i></div>
          </div>
        </div>
      </div>
      <div class="only-mobile">
        <div class="js-slick" data-slides-to-show="1">
          {% for img, title, content, tags in team.games %}
          <div class="px-1 py-4">
            <div class="tgee-card bg-cover" style="background-image: url({{ static(img) }}); height: 250px;">
              <div class="p-2 fancy-bg-gradient h-100 d-flex justify-content-between flex-column">
                <div><span class="badge badge-pill badge-gray-1">遊戲新聞</span></div>
                <h3 class="mb-0 text-white">{{title}}</h3>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="prev-arrow">
            <div class="tgee-circle-button border-0 shadow"><i class="fas fa-chevron-left"></i></div>
          </div>
          <div class="dots"></div>
          <div class="next-arrow">
            <div class="tgee-circle-button border-0 shadow"><i class="fas fa-chevron-right"></i></div>
          </div>
        </div>
      </div>
    </div>
    {% include './teams/_team_form.html' %}
    <div class="py-5">
      <div class="only-desktop">
        <div class="js-slick" data-slides-to-show="3">
          {% for img in team.member_images %}
          <div class="px-1 py-4">
            <div class="tgee-card bg-cover" style="background-image: url({{ static(img) }}); height: 250px;"></div>
          </div>
          {% endfor %}
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="prev-arrow">
            <div class="tgee-circle-button border-0 shadow"><i class="fas fa-chevron-left"></i></div>
          </div>
          <div class="dots"></div>
          <div class="next-arrow">
            <div class="tgee-circle-button border-0 shadow"><i class="fas fa-chevron-right"></i></div>
          </div>
        </div>
      </div>
      <div class="only-mobile">
        <div class="js-slick" data-slides-to-show="1">
          {% for img in team.member_images %}
          <div class="px-1 py-4">
            <div class="tgee-card bg-cover" style="background-image: url({{ static(img) }}); height: 250px;"></div>
          </div>
          {% endfor %}
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="prev-arrow">
            <div class="tgee-circle-button border-0 shadow"><i class="fas fa-chevron-left"></i></div>
          </div>
          <div class="dots"></div>
          <div class="next-arrow">
            <div class="tgee-circle-button border-0 shadow"><i class="fas fa-chevron-right"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <h2 class="h1">團隊文章</h2>
      <div class="mobile-scroll-x">
        {% for id, img, title, content, tags in posts %}
        <div>
          <a href="/articles/{{id}}/show">
            <div class="tgee-card">
              <div class="tgee-card-img" style="background-image: url({{static(img) }});"></div>
              <div class="tgee-card-body">
                <h2>{{title}}</h2>
                <div class="d-flex">
                  <div><small class="f-14">1 小時前更新 </small></div>
                  <div class="tgee-circle-button f-12"><i class="fas fa-chevron-right"></i></div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="py-5">
      <h2 class="h1">其他文章</h2>
      <div class="mobile-scroll-x">
        {% for id, img, title, content, tags in posts %}
        <div>
          <a href="/articles/{{id}}/show">
            <div class="tgee-card">
              <div class="tgee-card-img" style="background-image: url({{static(img)}});"></div>
              <div class="tgee-card-body">
                <h2>{{title}}</h2>
                <div class="d-flex">
                  <div><small class="f-14">1 小時前更新 </small></div>
                  <div class="tgee-circle-button f-12"><i class="fas fa-chevron-right"></i></div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% include './partials/modal_game_show.html' %}
  {% include './partials/modal_game_edit.html' %}
  {% include './partials/modal_team_edit.html' %}
</div>
{% endblock %}