<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title RGEE - #{title}
    link(rel="stylesheet", href="./index.css")
    script(src="https://kit.fontawesome.com/cf18e00edc.js" crossorigin="anonymous")
  body
    include ../partials/navbar.pug
    div(style="padding-top: 62px;")
      block content
    
    include ../partials/footer.pug
    script(src="./index.js")