.btn-orange {
  color: #fff;
}

.btn.rounded-circle {
  padding: 0;
  width: $spacer * 2;
  height: $spacer * 2;
  line-height: $spacer * 2;
}

.tgee-circle-button {
  @extend .rounded;
  @extend .ml-auto;
  @extend .btn;
  @extend .btn-outline-dark;
  @extend .rounded-circle;

  position: relative;

  width: 30px;
  height: 30px;

  > i {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-circle {
  @extend .rounded-circle;

  position: relative;
  width: 36px;
  height: 36px;
  font-size: 18px;
  background-color: $gray-3;
  border-width: 0;
  
  .focus, &:hover {
    background-color: $blue;
  }

  > span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  font-size: 25px;
}

.btn-circle.btn-sm {
  width: 18px;
  height: 18px;
  font-size: 9px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

input:focus ~ .close-btn {
  background-color: $blue;
}