.tgee-btn {
  @extend .btn;
  @extend .btn-secondary;
  color: #fff;

  &:hover {
    // color: $primary;
    // border-color: $primary;
    // background-color: #fff;
  }
}

.tgee-btn-outline {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-outline-gray-2;
  &:hover {
    color: $primary;
    background-color: #fff;
  }
}

.btn-orange {
  color: #fff;
}

.btn.rounded-circle {
  padding: 0;
  width: $spacer * 2;
  height: $spacer * 2;
  line-height: $spacer * 2;
}

.tgee-circle-button {
  @extend .rounded;
  @extend .btn;
  @extend .btn-outline-dark;
  @extend .rounded-circle;

  position: relative;
  width: 29px;
  height: 29px;
  transition: background-color 0.2s;

  > i {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: #00000000;
  }
}

.btn-circle {
  @extend .rounded-circle;

  position: relative;
  width: 18px;
  height: 18px;
  font-size: 18px;
  background-color: $gray-3;
  border-width: 0;
  outline: none;
  
  .focus, &:hover {
    background-color: $blue;
  }

  > span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

input:focus ~ .close-btn {
  background-color: $blue;
}