.tgee-card:hover .tgee-circle-button {
  background-color: $blue;
  border-color: #00000000;
  color: #fff;
}

.tgee-card-h > .tgee-card-img {
  width: 100%;
  min-height: 168px;
  flex-shrink: 0;
  flex-grow: 0;

  @include media-breakpoint-up(md) {
    width: 310px;
  }
}

.tgee-card-v > .tgee-card-img {
  width: 100%;
  height: 210px;
  flex-shrink: 0;
}

.tgee-card {
  @extend .shadow;
  @extend .rounded;
  @extend .overflow-hidden;
  @extend .flex-column;
  
  display: flex;
  cursor: pointer;
  transition: all 0.5s;

  &-img {
    background-size: 100%;
    background-position: center;
    transition: all .2s;
    width: 100%;
    height: 168px;
  }

  &-body {
    padding: $spacer;
    flex-grow: 1;
    display: flex;
    @extend .flex-column;
    @extend .justify-content-between;
  }

  &:hover {
    @extend .shadow-lg;
  }

  &:hover > &-img {
    background-size: 120%;
  }

  &.article-card {
    .tgee-card-img {
      height: 200px;
      @include media-breakpoint-up(md) {
        max-width: 360px;
      }
    }
  }
}