
.only-mobile {
  @extend .d-block;
  @extend .d-md-none;
}

.only-desktop {
  @extend .d-none;
  @extend .d-md-block;
}

@import "custom";
@import "bootstrap";

@import "card";
@import "button";
@import "tabs";
@import "form";
@import "dropdown";
@import "navbar";

@import "partials/footer";

@import "pages/home";
@import "pages/terms";
@import "pages/service";
@import "pages/faq";

@import "./vendor/slick.css";
@import "./vendor/slick-theme.css";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
}


.collapse-trigger {
  display: flex;
  align-items: center;
  i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    transition: all 0.2s;
    transform: rotate(0deg);
  }
  &.collapsed i {
    transform: rotate(180deg);
  }
}

.swiper-container {
  width: 600px;
  height: 300px;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.slick-dots {
  position: relative;
  display: flex;
  width: inherit;
  bottom: 0;
}

.f-4 {
  font-size: 1rem * 16 / 16;
}

.f-3 {
  font-size: 1rem * 14 / 16;
}

.f-2 {
  font-size: 1rem * 14 / 16;
}

.f-1 {
  font-size: 1rem * 12 / 16;
}

.f-18 {
  font-size: 1rem * 18 / 16;
}

.f-16 {
  font-size: 1rem * 16 / 16;
}

.f-14 {
  font-size: 1rem * 14 / 16;
}

.f-12 {
  font-size: 1rem * 12 / 16;
}

footer a {
  color: $dark-blue !important;
  display: block;
}

#navbar-mobile-collapse a {
  color: $dark-blue;
  display: block;
}

#navbar-mobile-collapse .collapse-trigger:not(.collapsed) {
  background-color: $blue;
  color: #fff;
}

.fancy-banner {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  // width: 545px;
  z-index: -1;
}

.blur-banner {
  z-index: -1;
  height: 340px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  &-img {
    @extend .bg-cover;
    filter: blur(30px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


ul {
  padding-left: 20px;
}
li {
  margin-bottom: $spacer;
}

@include media-breakpoint-up(md) {
  .position-md-absolute {
      position: absolute !important;
  }
  .position-md-relative {
    position: relative !important;
  }
}