$primary: #136AD5;
$secondary: #FF8A2E;

$theme-colors: ("primary": $primary, "secondary": $secondary) !default;

$link-color: #707070;
$link-hover-color:  #505050;

$text-color: #292929;
$font-family-sans-serif: "Noto Sans TC", "Microsoft JhengHei", sans-serif;

@import "node_modules/bootstrap/scss/bootstrap";

body {
    font-size: 16px;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.dropdown-toggle::after { 
    content: none; 
}

nav.navbar {
    font-size: 13px;
    .nav-item:not(.search) {
        min-width: 100px;
    }
    .nav-item {
        a {
            text-align: center;
        }
        img {
            height: 18px;
        }
    }
}

.banner {
    height: 357px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider {
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
    & > .next-btn,
    & > .prev-btn {
        width: 30px;
        height: 30px;
        display: block;
        cursor: pointer;
        > i.fas {
            line-height: 30px;
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
            text-align: center;
            transition: all 0.2s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    & > .prev-btn {
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translate(-50%, -50%);
    }
    & > .next-btn {
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translate(50%, -50%);
    }
}

.bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    transition: background-size 0.25s ease;
}

.fancy-card {
    cursor: pointer;
    &:hover .bg-cover {
        background-size: 135%;
    }
    .fancy-card-date {
        position: absolute;
        bottom: 10px;
    }
}

.feature-item {
    position: relative;
    height: 180px;
    p {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        line-height: 15px;
        background-color: #000000AA;
        i.fas.fa-chevron-right {
            position: absolute;
            right: 5px;
            bottom: 5px;
        }
    }
}

.main-new {
    height: 330px;
}

.second-new {
    height: 150px;
    position: relative;
    i.fas.fa-chevron-right {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        text-align: center;
        line-height: 15px;
        font-size: 10px;
    }
}

.fancy-number {
    color: #fff;
    font-weight: bold;
    text-shadow: 5px 5px 0px black;
    -webkit-text-stroke: 1px black;
}

.resource-item {
    border: 4px solid #136AD5;
    border-radius: 10px;
    box-shadow: 8px 8px 0px #136AD5;
    position: relative;
    width: 220px;
    cursor: pointer;
    i.fas.fa-chevron-right {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        font-size: 0.5rem;
    }

    &:hover {
        background-color: #d2e2f9;
    }

    .title {
        font-size: 1.7rem;
        color: #fff;
        -webkit-text-stroke: 1px #136AD5;
    }
}

.fancy-shadow {
    box-shadow: 10px 10px 0px #136AD5;
}

.fancy-times {
    position: absolute;
    top: 66%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);

    &::after, &::before {
        position: absolute;
        top: 20px;
        left: 20px;
        content: "";
        display: block;
        width: 40px;
        height: 4px;
        background-color: #FF8A2E;
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.member {
    &-avator {
        width: 182px;
        height: 165px;
        border-radius: 15px;
    }
    &-info {
        width: calc(100% - 182px);
        vertical-align: top;
    }
}

.fancy-pills {
    color: #707070;
    &:hover {
        color: $primary;
    }
}

// .fas.fa-chevron-left.bg-primary.text-white,
// .fas.fa-chevron-right.bg-primary.text-white {
//     &:hover {
//         transform: scale(2);
//     }
// }

// .oh-my-tab-content {
//     display: none;
// }