{% extends "./user/_base.html" %}

{% block form_content %}
<div class="mb-2 d-flex flex-column flex-md-row align-items-md-center">
  <h1 class="mr-auto">會員登入</h1>
  <p>還不是會員？&nbsp;<a href="{{url('signup')}}">註冊會員</a></p>
</div>
<div class="form-group">
  <label>電子郵件</label>
  <input class="form-control" placeholder="example@gmail.com" />
</div>
<div class="form-group">
  <div class="d-flex">
    <label class="mr-auto">密碼</label>
    <small>
      <a class="text-gray-2" href="{{url('reset_password')}}">忘記密碼？</a>
    </small>
  </div>
  <input class="form-control" placeholder="6-12 個字" />
</div>
<div class="form-group">
  <div class="g-recaptcha" data-sitekey="your_site_key"></div>
</div>
<a href="{{url('home')}}" class="tgee-btn-primary">登入</a>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}