{% extends './user/_base.html' %}

{% block form_content %}
<div class="d-flex">
  <h2 class="mb-3 mr-auto">會員註冊</h2>
  <p>已經是會員？<a href="#">我要登入</a></p>
</div>
<div class="form-group"><label>電子郵件</label><input class="form-control" placeholder="example@gmail.com" /></div>
<div class="form-group"><label>密碼</label><input class="form-control" placeholder="6-12 個字元，中英混合" /></div>
<div class="form-group"><label>確認密碼</label><input class="form-control" placeholder="密碼需與上ㄧ列相同" /></div>
<div class="form-group"><label>團隊或公司名稱</label><input class="form-control" placeholder="OOO股份有限公司" /></div>
<div class="form-group"><label>聯絡窗口姓名</label><input class="form-control" placeholder="姓名" /></div>
<div class="form-group"><label>聯絡窗口電話</label><input class="form-control" placeholder="09xxxxxxxx" /></div>
<div class="form-group"><label>聯絡窗口信箱</label><input class="form-control" placeholder="example@gmail.com" /></div>
<div class="form-group"><label>團隊/公司介紹</label><textarea class="form-control" placeholder="300字以內"></textarea></div>
<div class="form-group"><label>聯絡窗口官方網站</label><input class="form-control" placeholder="https://example.com" /></div>
<div class="form-group"><input type="checkbox" placeholder="https://example.com" />我同意&nbsp;<a href="#">使用條款與隱私權政策說明</a></div><button class="btn rounded-pill btn-orange">註冊</button>
{% endblock %}