{% extends "./user/_base.html" %}

{% block form_content %}
<h1 class="mb-3">申請進階會員驗證</h1>
<p>歡迎加入進階會員，請輸入以下資料欄位 <span class="text-orange">*為必填項目</span></p>
<div class="form-group"><label>公司實收資本額</label>
  <div class="border p-2">
    <div class="tgee-dropdown js-tgee-dropdown">
      <div class="tgee-dropdown-trigger"><span class="mr-auto">種類</span><i class="fas fa-chevron-down"></i></div>
      <div class="tgee-dropdown-menu">
        <div class="tgee-dropdown-menu-body">
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
        </div>
      </div>
    </div><small class="text-gray-3">隱私設定</small>
    <div class="d-flex">
      <div class="mr-3"><input type="radio" />&nbsp;不設限</div>
      <div class="mr-3"><input type="radio" />&nbsp;對會員公開</div>
      <div class="mr-3"><input type="radio" />&nbsp;不公開</div>
    </div>
  </div>
</div>
<div class="form-group"><label>負責人本名</label><input class="form-control rounded-0 rounded-top" placeholder="姓名" />
  <div class="p-2 border border-top-0 rounded-bottom"><small class="text-gray-3">隱私設定</small>
    <div class="d-flex">
      <div class="mr-3"><input type="radio" />&nbsp;不設限</div>
      <div class="mr-3"><input type="radio" />&nbsp;對會員公開</div>
      <div class="mr-3"><input type="radio" />&nbsp;不公開</div>
    </div>
  </div>
</div>
<div class="form-group"><label>公司正式名稱</label><input class="form-control" placeholder="6-12 個字元，中英混合" /></div>
<div class="form-group"><label>公司統編</label><input class="form-control" placeholder="6-12 個字元，中英混合" /></div>
<div class="form-group"><label>公司實收資本額</label><input class="form-control rounded-0 rounded-top" placeholder="姓名" />
  <div class="p-2 border border-top-0 rounded-bottom"><small class="text-gray-3">隱私設定</small>
    <div class="d-flex">
      <div class="mr-3"><input type="radio" />&nbsp;不設限</div>
      <div class="mr-3"><input type="radio" />&nbsp;對會員公開</div>
      <div class="mr-3"><input type="radio" />&nbsp;不公開</div>
    </div>
  </div>
</div>
<div class="form-group"><label>公司實收資本額</label>
  <div class="border p-2">
    <div class="tgee-dropdown js-tgee-dropdown">
      <div class="tgee-dropdown-trigger"><span class="mr-auto">種類</span><i class="fas fa-chevron-down"></i></div>
      <div class="tgee-dropdown-menu">
        <div class="tgee-dropdown-menu-body">
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
          <p>100 萬</p>
        </div>
      </div>
    </div><small class="text-gray-3">隱私設定</small>
    <div class="d-flex">
      <div class="mr-3"><input type="radio" />&nbsp;不設限</div>
      <div class="mr-3"><input type="radio" />&nbsp;對會員公開</div>
      <div class="mr-3"><input type="radio" />&nbsp;不公開</div>
    </div>
  </div>
</div>
{% endblock %}