{% extends "./layout/base.html" %}

{% block content %}
<div class="position-relative py-6">
  <div class="blur-banner bg-white">
    <div class="blur-banner-img" style="background-image: url({{static(article[1])}});"></div>
  </div>
  <div class="container">
    <div class="shadow">
      <div class="position-relative bg-cover" style="background-image: url({{static(article[1])}}); height: 340px;">
      </div>
      <div class="p-3 px-4">
        <h1>EA訂閱服務改名 EA PLAY 展現新氣象</h1>
        <div class="pt-2 d-flex">
          <div class="mr-auto">
            <i class="far fa-clock mr-2"></i>
            <span class="mr-2">2020/09/02</span>
            <span class="mr-2">By</span>
            <span class="mr-2">John</span></div>
          <div>
            <i class="fab fa-facebook-f mr-2"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
        <hr />

        <!-- demo 用的，展示不同長度內容的文章 -->
        {% for i in range(article[0]) %}
          <p>美商藝電宣布，EA Access 和 Origin Access Basic 變為 EA Play，Origin Access Premier 則改稱 EA Play Pro，並且全部換上令人耳目一新的外觀 。玩家們喜愛的所有好康內容（EA 新遊戲的試玩版、購入完整版遊戲和頂尖遊戲的數位版所享有的九折優惠）將不會就此消失。</p>
          <p>實際上，接下來幾個月將有更多豐富內容精彩連發，首先登場的是專屬的遊戲內挑戰和每月掉落獎勵，要獻給精選遊戲的玩家們。不只如此，8 月 31 日 EA Play 還會登上第四個平台—PC 平台遊戲界最多人使用的 Steam。EA Play 很快就會有更多令人振奮的消息，請玩家拭目以待。</p>
          <p>EA Play 是一項遊戲訂閱服務，提供專屬的玩家挑戰、遊戲內獎勵、會員獨享內容以及一籮筐的優質遊戲，包括《TheSims 4》、《極速快感™ 熱焰》、《Titanfall 2》，還有幾款 EA 最膾炙人口的系列作，像是《戰地風雲》、《StarWars 戰場前線》以及《植物大戰殭屍》，使每款遊戲都更值回票價。</p>
          <p>EA Play 現已在 Xbox One、PS4 和 PC 的 Origin 推出，而且 8 月 31 日會在 PC 的 Steam 上登場。</p>
          <img class="my-3 w-50 d-block mx-auto" src="{{static('campaigns/1.jpg')}}" />
          <p>EA Play 會員可以透過 EA 最新遊戲的獨特遊戲內好康和獎勵深入探索心愛的遊</p>
          <ul>
            <li>《Madden NFL 21》玩家可以在 8 月 21 日提早揭開球季序幕，享受 EA Play Challenges、Madden UltimateTeam 發行日組合包、每個月三個「黃金隊伍夢幻組合包」，還有額外的遊戲內好康，讓你在場上如虎添翼。</li>
            <li>《Madden NFL 21》玩家可以在 8 月 21 日提早揭開球季序幕，享受 EA Play Challenges、Madden UltimateTeam 發行日組合包、每個月三個「黃金隊伍夢幻組合包」，還有額外的遊戲內好康，讓你在場上如虎添翼。</li>
            <li>《Madden NFL 21》玩家可以在 8 月 21 日提早揭開球季序幕，享受 EA Play Challenges、Madden UltimateTeam 發行日組合包、每個月三個「黃金隊伍夢幻組合包」，還有額外的遊戲內好康，讓你在場上如虎添翼。</li>
          </ul>
          <img class="my-3 w-50 d-block mx-auto" src="{{static('campaigns/2.jpg')}}" />
          <p>美商藝電宣布，EA Access 和 Origin Access Basic 變為 EA Play，Origin Access Premier 則改稱 EA Play Pro，並且全部換上令人耳目一新的外觀 。</p>
          <p>玩家們喜愛的所有好康內容（EA 新遊戲的試玩版、購入完整版遊戲和頂尖遊戲的數位版所享有的九折優惠）將不會就此消失。</p>
          <p>實際上，接下來幾個月將有更多豐富內容精彩連發，首先登場的是專屬的遊戲內挑戰和每月掉落獎勵，要獻給精選遊戲的玩家們。</p>
          <img class="my-3 w-50 d-block mx-auto" src="{{static('campaigns/3.jpg')}}" />
          <p>不只如此，8 月 31 日 EA Play 還會登上第四個平台—PC 平台遊戲界最多人使用的 Steam。EA Play 很快就會有更多令人振奮的消息，請玩家拭目以待。</p>
          <p>EA Play 是一項遊戲訂閱服務，提供專屬的玩家挑戰、遊戲內獎勵、會員獨享內容以及一籮筐的優質遊戲，包括《TheSims 4》、《極速快感™ 熱焰》、《Titanfall 2》，還有幾款 EA 最膾炙人口的系列作，像是《戰地風雲》、《StarWars 戰場前線》以及《植物大戰殭屍》，使每款遊戲都更值回票價。</p>
          <p>EA Play 現已在 Xbox One、PS4 和 PC 的 Origin 推出，而且 8 月 31 日會在 PC 的 Steam 上登場。</p>
        {% endfor %}
      </div>
    </div>
    <div class="py-5">
      <h2 class="h1">其他文章</h2>
      <div class="row">
        {% for id, img, title, content, tags in news %}
        <div class="col-4 my-1">
          <a href="/articles/{{id}}/show">
            <div class="tgee-card">
              <div class="tgee-card-img" style="background-image: url({{static(img)}});"></div>
              <div class="tgee-card-body">
                <h2>{{title}}</h2>
                <div class="d-flex">
                  <div><small class="f-14">1 小時前更新 </small></div>
                  <div class="tgee-circle-button f-12"><i class="fas fa-chevron-right"></i></div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}