{% include './partials/filter.html' %}
<div class="row mt-3">
  {% for img, title, position, date, tags in resources %}
  <div class="col-md-6 mt-2">
    <a href="#">
      <div class="tgee-card flex-md-row" style="min-width: 267px;">
        <div class="tgee-card-img" style="background-image: url({{ static(img) }}); height: 190px;"></div>
        <div class="tgee-card-body" style="min-width: 200px;">
          <h3>{{title}}</h3>
          <p>地區：{{position}}<br />地區：{{date}}</p>
          {% for t in tags %}
          <div class="d-flex align-items-center"><small class="mr-1 badge badge-pill badge-gray-4">#{{t}}</small>
            <div class="tgee-circle-button"><i class="fas fa-chevron-right"></i></div>
          </div>
          {% endfor %}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
<div class="py-3 py-md-4 text-center">
  <button class="tgee-btn-secondary">展開看更多</button>
</div>